<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Louise Misell Interiors</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/about.css">
</head>
<body>
<div class="wrapper">
    <div class="nav">
        <nav class="nav-left">
            <div class="logos">
                <img src="img/cag-logo.png" alt="">
                <img src="img/baid-logo.png" alt="">
            </div>
            <div>
                <a href="index.html">Home</a>
                <a href="#" class="is-active">About</a>
                <a href="portfolio.html">Portfolio</a>
            </div>
        </nav>
        <div class="logo">
            <img src="logo.png" alt="">
        </div>
        <nav class="nav-right">
            <div>
                <a href="services.html">Services</a>
                <a href="testimonials.html">Testimonials</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
                <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fab fa-houzz fa-lg"></i></a>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="bio">
            <div class="row">
                <div class="left">
                    <img src="img/louise-head.jpg" class="round" alt="">
                </div>
                <div class="right">
                    <h1>About Louise</h1>
                    <p>I am a City & Guilds and British Academy of Interior Design trained freelance interior designer.
                        Having previously worked as a Home Design Stylist for John Lewis for over three years, I have
                        designed hundreds of unique room schemes for a wide range of clients and budgets, including
                        holiday
                        rentals, city apartments and large rural properties. I always begin designing with layout, as
                        practicality is essential, and then create warm, comfortable, inspiring schemes which my clients
                        love to live in. I don?t have a signature style as I always design for the client, but I do like
                        to
                        encourage my clients to step out of their comfort zone and work with them to create beautiful,
                        engaging spaces which they adore.</p>
                    <p>I have a background in Theatre Design, but retrained in Interior Design with City and Guilds and
                        the British Academy of Interior Design. I currently work for a well known department store
                        producing a wide range of unique schemes for clients. I begin by focusing on layout -
                        practicality is essential - and then create warm, comfortable, inspiring schemes my clients love
                        to live in. I don't have a signature style as I always design for the client, but I do like to
                        encourage my clients to step out of their comfort zone and help them to create beautiful,
                        engaging spaces which work for them.</p>
                </div>
            </div>
            <div class="row row-big-left">
                <div class="left">
                    <h2>Why choose me?</h2>
                    <p>I can look at your project with a fresh pair of eyes and because I am an independent designer, I
                        can give unbiased advice and offer solutions without trying to sell you products.</p>
                    <p>I have over three years worth of experience as a designer for John Lewis, and more as a freelance
                        designer. I have designed hundreds of schemes and tackled most room/building types and the
                        challenges they present. I have worked with clients of all tastes and budgets, and pride myself
                        on getting to know the client and their needs, and provide schemes which exceed their
                        expectations.</p>
                    <p>I have Public Liability Insurance up to the value of xxxxx. <a href="#">View certificate</a></p>
                    <p>I have Professional Indemnity Insurance up to the value of xxxxx. <a href="#">View
                        certificate</a></p>
                </div>
                <div class="right">
                    <div class="row">
                        <div class="col">
                            <img src="img/cag-logo.png" alt="">
                        </div>
                        <div class="col">
                            <img src="img/baid-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        &copy; Louise Misell Interiors 2018
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
        integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
<script src="js/main-compiled.js"></script>
</body>
</html>