<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - Louise Misell Interiors</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/contact.css">
</head>
<body>
<div class="wrapper">
    <div class="nav">
        <nav class="nav-left">
            <div class="logos">
                <img src="img/cag-logo.png" alt="">
                <img src="img/baid-logo.png" alt="">
            </div>
            <div>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
            </div>
        </nav>
        <div class="logo">
            <img src="logo.png" alt="">
        </div>
        <nav class="nav-right">
            <div>
                <a href="services.html">Services</a>
                <a href="testimonials.html">Testimonials</a>
                <a href="#" class="is-active">Contact</a>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
                <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fab fa-houzz fa-lg"></i></a>
            </div>
        </nav>
    </div>
    <div class="content">
        <h1>Contact</h1>
        <div class="contact-details">
            <div class="row">
                <div class="col">
                    <h2>Phone</h2>
                    <p><a href="tel:+442920497667">02920 497667</a></p>
                    <p><a href="tel:+447811287791">07811 287791</a></p>
                </div>
                <div class="col">
                    <h2>Email</h2>
                    <p><a href="mailto:louse@louisemisellinteriors.co.uk">louise@louisemisellinteriors.co.uk</a></p>
                </div>
                <div class="col">
                    <h2>Address</h2>
                    <p>
                        13 Penylan Terrace<br>
                        Cardiff<br>
                        CF23 9EU<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="form">
            <form action="" method="post">
                <div class="row">
                    <div class="col">
                        <input type="text" name="name" placeholder="Your name">
                    </div>
                    <div class="col">
                        <input type="email" name="email" placeholder="Your email">
                    </div>
                    <div class="col">
                        <input type="tel" name="phone" placeholder="Your phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea name="message" rows="10" placeholder="Your message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="calendar">
            <div class="calendly-inline-widget" data-url="https://calendly.com/louise-misell96"
                 style="min-width:320px;height:580px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
        </div>
    </div>
    <div class="footer">
        &copy; Louise Misell Interiors 2018
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="js/main-compiled.js"></script>
</body>
</html>