<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio - Louise Misell Interiors</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/portfolio.css">
</head>
<body>
<div class="wrapper">
    <div class="nav">
        <nav class="nav-left">
            <div class="logos">
                <img src="img/cag-logo.png" alt="">
                <img src="img/baid-logo.png" alt="">
            </div>
            <div>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="#" class="is-active">Portfolio</a>
            </div>
        </nav>
        <div class="logo">
            <img src="logo.png" alt="">
        </div>
        <nav class="nav-right">
            <div>
                <a href="services.html">Services</a>
                <a href="testimonials.html">Testimonials</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
                <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fab fa-houzz fa-lg"></i></a>
            </div>
        </nav>
    </div>
    <div class="content">
        <h1>Portfolio</h1>
        <div class="row">
                <div class="col">
                    <a href="project.html">
                    <img src="img/test1.jpg" alt="">
                    <hr>
                    <h2>Project</h2>
                    </a>
                </div>
                <div class="col">
                    <img src="img/test1.jpg" alt="">
                    <hr>
                    <h2>Project</h2>
                </div>
                <div class="col">
                    <img src="img/test1.jpg" alt="">
                    <hr>
                    <h2>Project</h2>
                </div>
                <div class="col">
                    <img src="img/test1.jpg" alt="">
                    <hr>
                    <h2>Project</h2>
                </div>
            </div>
    </div>
    <div class="footer">
        &copy; Louise Misell Interiors 2018
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="js/main-compiled.js"></script>
</body>
</html>