<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio - Louise Misell Interiors</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/project.css">
</head>
<body>
<div class="wrapper">
    <div class="nav">
        <nav class="nav-left">
            <div class="logos">
                <img src="img/cag-logo.png" alt="">
                <img src="img/baid-logo.png" alt="">
            </div>
            <div>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
            </div>
        </nav>
        <div class="logo">
            <img src="logo.png" alt="">
        </div>
        <nav class="nav-right">
            <div>
                <a href="services.html">Services</a>
                <a href="testimonials.html">Testimonials</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
                <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fab fa-houzz fa-lg"></i></a>
            </div>
        </nav>
    </div>
    <div class="content">
        <h1>Project</h1>
        <div class="row">
            <div class="col before">
                <h2>Before</h2>
                <div class="imgs">
                    <div class="slider">
                        <div class="slider-inner">
                            <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                            <div class="slide is-active">
                                <img src="img/test1.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="img/test2.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="img/test3.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="img/test4.jpg" alt="">
                            </div>
                            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col after">
                <h2>After</h2>
                <div class="imgs">
                    <div class="slider">
                        <div class="slider-inner">
                            <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                            <div class="slide is-active">
                                <img src="img/test1.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="img/test2.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="img/test3.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="img/test4.jpg" alt="">
                            </div>
                            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Brief & Budget</h2>
                <p>Bacon ipsum dolor amet jerky capicola kevin cow alcatra biltong. Venison rump bresaola, tail swine
                    jerky tri-tip jowl pastrami turducken cow. Cow ribeye turkey, sausage porchetta ball tip rump.
                    Bresaola buffalo boudin sausage tri-tip, rump turkey short loin hamburger meatball sirloin corned
                    beef tongue kevin. Bresaola pork leberkas shankle boudin frankfurter. Pork belly sausage bacon chuck
                    swine.</p>

                <p>Short ribs venison shoulder burgdoggen pastrami pork belly sirloin pork chop corned beef tail
                    andouille pig. Frankfurter landjaeger venison, ham hock kevin short loin turducken ball tip alcatra
                    ribeye. Doner meatball meatloaf jerky boudin short ribs capicola brisket burgdoggen leberkas
                    biltong. Jerky shoulder fatback jowl swine cupim ground round beef ribs.</p>
            </div>
            <div class="col">
                <h2>Outcome</h2>
                <p>Bacon ipsum dolor amet beef corned beef jerky pig venison leberkas ham hock tail. Turducken corned
                    beef shankle venison salami, beef ribs hamburger kielbasa. Pastrami short loin flank brisket pig
                    turkey chicken frankfurter meatball meatloaf boudin hamburger pancetta. Cow ham hock turducken
                    kevin, t-bone corned beef tri-tip landjaeger pork. Burgdoggen ribeye ball tip sausage pork pastrami
                    capicola bresaola meatloaf pork belly shankle ground round pork loin.</p>

                <p>Salami landjaeger picanha pork chop beef corned beef bacon drumstick capicola rump jowl. Frankfurter
                    drumstick salami ball tip pork chop doner. Meatball tail sausage beef drumstick spare ribs turducken
                    ham porchetta tongue boudin filet mignon bresaola turkey. Venison swine filet mignon ribeye
                    frankfurter. Cow ground round rump kielbasa corned beef. Fatback salami ribeye, short loin capicola
                    hamburger kielbasa jerky prosciutto tenderloin alcatra pancetta tongue jowl ground round.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        &copy; Louise Misell Interiors 2018
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="js/main-compiled.js"></script>
</body>
</html>