<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services - Louise Misell Interiors</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/services.css">
</head>
<body>
<div class="wrapper">
    <div class="nav">
        <nav class="nav-left">
            <div class="logos">
                <img src="img/cag-logo.png" alt="">
                <img src="img/baid-logo.png" alt="">
            </div>
            <div>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
            </div>
        </nav>
        <div class="logo">
            <img src="logo.png" alt="">
        </div>
        <nav class="nav-right">
            <div>
                <a href="#" class="is-active">Services</a>
                <a href="testimonials.html">Testimonials</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
                <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fab fa-houzz fa-lg"></i></a>
            </div>
        </nav>
    </div>
    <div class="content">
        <h1>Services</h1>
        <div class="steps">
            <h1>How can I help with your project?</h1>
            <div class="row">
                <div class="step col">
                    <h2 class="step-number"><i class="fas fa-comments"></i></h2>
                    <h2>Initial visit</h2>
                    <p>Advice on budget, style, site survey, discussion of design styles and trends, portfolio
                        shown, client
                        questionnaire filled out, a discussion of your dreams and hopes for the room, followed up
                        with email
                        of
                        your style, budget needed, where to spend and where to save. All information needed to
                        complete a
                        design scheme gathered at this meeting in your home.</p>
                    <h2>1 - 2 hours £100</h2>
                </div>
                <div class="step col">
                    <h2 class="step-number"><i class="fas fa-phone-volume"></i></h2>
                    <h2>Free telephone consultation</h2>
                    <p>Bacon ipsum dolor amet chuck filet mignon meatloaf, sirloin ground round landjaeger cupim
                        jowl picanha pork belly short loin beef. Shank sirloin hamburger, cupim burgdoggen andouille
                        pancetta fatback porchetta bacon pork loin tongue chicken. Pancetta frankfurter swine
                        venison ham hock, sausage chuck. Turkey fatback frankfurter turducken hamburger pork ham.
                        Tail leberkas landjaeger bacon. Pastrami bresaola ham hock meatball jerky meatloaf shankle
                        pancetta doner fatback turducken ball tip jowl salami leberkas. Kielbasa ground round beef,
                        ham prosciutto tri-tip salami jowl spare ribs pork chop cow boudin pork belly.</p>
                </div>
            </div>
            <div class="row">
                <div class="step col">
                    <h2 class="step-number"><i class="fas fa-pencil-alt"></i></h2>
                    <h2>Design Scheme</h2>
                    <p>Production of scheme with all elements requested, sample board with all samples, scale
                        floor plan, print out of 3D visuals of the room and the proposed scheme using Sketch Up, FF
                        &
                        costings, two sets of revisions to the scheme, all presented in your home.</p>
                    <h2>10-15 hours £300 per room</h2>
                </div>
                <div class="step col">
                    <h2 class="step-number"><i class="fas fa-desktop"></i></h2>
                    <h2>Online design</h2>
                    <p>Bacon ipsum dolor amet ribeye meatloaf flank tenderloin leberkas chicken cow ham hock
                        fatback. Ball tip pork belly fatback, spare ribs beef ribs biltong flank. Kevin porchetta
                        beef ribs rump. Buffalo picanha cow flank sausage bresaola ground round prosciutto ham
                        hock.</p>
                </div>
            </div>
            <div class="row">
                <div class="step col">
                    <h2 class="step-number"><i class="fas fa-truck"></i></h2>
                    <h2>Procurement</h2>
                    <p>Placing orders and coordination of deliveries where possible, whilst passing on all trade
                        discounts
                        available to me so in most cases the you pay less than retail prices.</p>
                    <h2>Handling fee of 10% of the total goods cost</h2>
                </div>
                <div class="step col">
                    <h2 class="step-number"><i class="fas fa-cut"></i></h2>
                    <h2>Smaller projects</h2>
                    <p>If you have a project which is smaller in scope, for example you might need help with window
                        dressings, or would like help with planning a project to decide if it?s feasible, where a
                        fixed fee
                        structure might not be the best solution for you, please get in touch and I will be happy to
                        discuss
                        your needs and agree a fee with you.</p>
                </div>
            </div>
            <div class="row">
                <div class="step col">
                    <h2 class="step-number"><i class="fas fa-tape"></i></h2>
                    <h2>Installation Management</h2>
                    <p>Coordination of the scheme from start to finish, including sourcing of suppliers/makers and
                        contractors involved, and overseeing the work to completion.</p>
                    <h2>10% of the total project cost, not including design fees or procurement
                        fees</h2>
                </div>
                <div class="step col">
                    <h2 class="step-number"><i class="fas fa-couch"></i></h2>
                    <h2>Styling</h2>
                    <p>Bacon ipsum dolor amet bresaola alcatra prosciutto leberkas porchetta pastrami shankle. Pork
                        loin porchetta fatback beef ribs, bacon prosciutto capicola tenderloin short ribs turducken
                        cupim venison sirloin. Short ribs t-bone alcatra meatball chicken pork. Rump picanha pork
                        belly filet mignon drumstick meatloaf ham.</p>
                </div>
            </div>
        </div>
    </div>
<div class="footer">
    &copy; Louise Misell Interiors 2018
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="js/main-compiled.js"></script>
</body>
</html>