<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testimonials - Louise Misell Interiors</title>

    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/testimonials.css">
</head>
<body>
<div class="wrapper">
    <div class="nav">
        <nav class="nav-left">
            <div class="logos">
                <img src="img/cag-logo.png" alt="">
                <img src="img/baid-logo.png" alt="">
            </div>
            <div>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
            </div>
        </nav>
        <div class="logo">
            <img src="logo.png" alt="">
        </div>
        <nav class="nav-right">
            <div>
                <a href="services.html">Services</a>
                <a href="#" class="is-active">Testimonials</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
                <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fab fa-houzz fa-lg"></i></a>
            </div>
        </nav>
    </div>
    <div class="content">
        <h1>Testimonials</h1>
        <div class="row">
            <div class="left">
                <img src="img/test5.jpg" alt="">
            </div>
            <div class="right">
                <blockquote>
                    I reached out to Louise as I knew I would need some help designing and choosing furniture
                    for the whole house. Louise worked tirelessly with me over email and we agreed on the scheme and
                    furniture for the entire house. Now that I've seen the house, I couldn't be happier!
                </blockquote>
                <span class="by-line">Carys Richards, Dubai</span>
            </div>
        </div>
        <div class="row row-big-left">
            <div class="left">
                <blockquote>
                    Thanks for all of your help over the last couple of weeks! We love the design that you have created
                    and can't wait to buy everything and put it all in place! Thanks again for all of your help; it was
                    great working with someone who really understood our vision.
                </blockquote>
                <span class="by-line">Marc and Erika, London</span>
            </div>
            <div class="right">
                <img src="img/test2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="footer">
        &copy; Louise Misell Interiors 2018
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="js/main-compiled.js"></script>
</body>
</html>