@import "inc/variables";
@import "inc/testimonials";

.header {
  background-image: linear-gradient(rgba($background-colour,.6), rgba($background-colour,.6)), url(../img/about.jpg);
  background-position: 0 110%;
  background-attachment: fixed;
  background-size: cover;

  h1 {
    margin: 150px 0;
    color: $dark-text-colour;
  }
}

.about {
  background: $background-colour;
  color: $dark-text-colour;
  position: relative;

  > div {
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.5;

    a {
      font-size: 22px;
      color: $dark-text-colour;
      border-color: $dark-text-colour;
    }
  }
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    max-width: 300px;
  }

  p {
    width: 80vw;
    text-align: center;
  }
}