@import "inc/variables";
@import "inc/bar";

.content {
  > div {
    width: 70%;
    margin: $column-gutter auto;

    @media (max-width: $media-small) {
      width: auto;
    }
  }

  .contact-details {
    h2 {
      @include bar;
      display: inline-block;
      font-size: 35px;
    }
    p {
      font-size: 25px;
    }
  }

  form {
    .errorlist {
      margin: 0;
      text-align: left;
      color: red;

      li {
        list-style: none;
      }
    }
  }
}