@import "inc/variables";
@import "inc/bar";
@import "inc/testimonials";

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;

  header {
    background-image: url(../img/contact.jpg);
  }

  p {
    font-size: 25px;
  }

  .desc {
    background: $background-colour-dark;
    color: $light-text-colour;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 80vw;
      text-align: center;
    }
  }

  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    margin-top: 0;
  }

  h3.notice {
    background: $background-colour-dark;
    padding: 10px;
    color: $light-text-colour;
    text-align: center;
    margin-top: 0;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1250px;
    align-self: center;
    position: relative;

    @media (max-width: $media-medium) {
      width: 100vw;
    }
    @media (max-width: $media-small) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $media-xsmall) {
      grid-template-columns: 1fr;
    }

    .details {
      font-family: "Raleway", sans-serif;
      letter-spacing: 1px;
      margin-top: $content-padding;

      a {
        color: $dark-text-colour;
        margin-inline-end: 10px;

        &:hover {
          color: lighten($dark-text-colour, 20%);
        }

        @media (max-width: $media-xsmall) {
          font-size: 16px;
          display: block;
        }
      }

      h3 {
        margin-bottom: 0;
      }

      .address {
        p {
          margin-top: 0;
        }
      }
    }

    @mixin h2 {
      min-height: 2.2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .form {
      max-width: 800px;
      padding-top: 0 !important;
      position: relative;
      float: left;
      background: #fff;
      margin-top: 10%;
      //left: (clamp(#{-3vw}, #{-100px}, #{0px}));

      img {
        position: absolute;
        z-index: -1;
        right: -25vw;
        top: -10%;
        height: 100%;
        //max-width: 50vw;
        //width: 100%;
      }

      h2 {
        @include h2;
      }
    }
  }
}
