@import "inc/variables";
@import "inc/bar";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    align-self: stretch;
    background-image: var(--background);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    grid-row: 1;
    grid-column: 1;
    padding: 50px $content-padding;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img, p {
      display: none;
    }

    > div {
      background-image: linear-gradient(rgba($background-colour, .7), rgba($background-colour, .7));
      color: $dark-text-colour;
      padding: $content-padding*3;

      a {
        background: $background-colour-dark;
        color: $light-text-colour;
        border: none;
      }

      h3, h4 {
        margin: 10px;
      }

      h3 {
        font-size: 35px;
      }

      h4 {
        margin-bottom: 30px;
      }
    }
  }

  .header {
    background: $background-colour-dark;
    padding: $content-padding;
    align-self: stretch;

    h1, h2 {
      text-align: center;
      color: $light-text-colour;
    }
  }

  .blog {
    width: 80vw;
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-template-rows: auto 1fr;
    grid-gap: $content-padding;

    > .posts, > .side {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      grid-gap: $content-padding;
      align-self: start;
      justify-self: stretch;
    }

    > .posts {
      grid-row: 1 / 3;

      .post {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: $content-padding;
        padding-left: 0;
        align-items: center;

        > * {
          align-self: stretch;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }

        > div {
          grid-column: 2;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
        }

        > a:first-of-type {
          position: relative;

          &::before {
            content: "";
            height: 0;
            padding-bottom: 100%;
            display: block;
          }
        }

        a {
          color: $dark-text-colour;
          font-weight: bold;
        }

        .title {
          background: $background-colour-dark;
          color: $light-text-colour;
          padding: ($content-padding / 2);
          padding-right: $content-padding;
          margin-top: $content-padding;
          transform: translateX(-5vw);
          display: inline-block;
          font-family: "Raleway", sans-serif;

          a {
            color: $light-text-colour;
          }

          > * {
            text-align: left;
          }

          h3 {
            margin-bottom: $content-padding / 2;
            font-size: 22px;
          }

          h4 {
            font-size: 17px;
          }
        }

        p {
          line-height: 1.5;
          font-family: "Raleway", sans-serif;
        }

        .button {
          background: $background-colour;
          border: none;
        }

        @media (max-width: $media-small) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $media-xsmall) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          padding: 0;

          .title {
            transform: none;
            padding-right: ($content-padding / 2);
          }

          img {
            position: relative;
          }

          > a:first-of-type {
            &::before {
              padding-bottom: 0;
            }

            grid-row: 1;
          }

          > div {
            grid-column: 1;
            grid-row: 2;
          }
        }
      }
    }

    .short, .desc {
      background: $background-colour;
      font-family: "Raleway", sans-serif;

      a {
        color: $dark-text-colour;
        font-weight: bold;
      }
    }

    > .side {
      text-align: center;
      grid-template-rows: auto auto 1fr;
      grid-column: 2 / 3;
      align-self: stretch;
    }

    > .short-posts {
      grid-column: 2 / 3;
      position: relative;

      > div {
        overflow-y: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        scrollbar-width: thin;
        scrollbar-color: $background-colour-dark $background-colour;

        h4 {
          margin-bottom: $content-margin;
        }

        @media (max-width: $media-xsmall) {
          position: relative;
        }

        &::-webkit-scrollbar-thumb {
          background: $background-colour-dark;
        }

        &::-webkit-scrollbar {
          width: 10px;
          background: $background-colour;
        }

        .short {
          margin-bottom: $content-padding;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }


    @media (max-width: $media-medium) {
      width: 100vw;
    }
    @media (max-width: $media-small) {
      grid-template-columns: 7fr 3fr;
    }
    @media (max-width: $media-xsmall) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;

      > .posts {
        grid-column: 1;
        grid-row: 2;
      }

      > .side {
        grid-column: 1;
        grid-row: 1;
      }

      > .short-posts {
        grid-column: 1;
        grid-row: 3;
      }
    }
  }
}

h2, h3 {
  text-align: center;
  margin-bottom: 0;
}

.post {
  padding: 20px;
  color: #000;

  h3, h4 {
    margin: 0;
    text-align: center;
  }

  h3 {
    font-size: 25px;
  }

  > span {
    display: none;
  }
}

.newsletter {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  border: $background-colour-dark 2px solid;

  i {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
    display: block;
  }

  input, button {
    padding: 7px 15px;
    margin: 2px 0;
  }

  h3 {
    background: $background-colour-dark;
    color: $light-text-colour;
    padding: $content-padding/2;
    margin-bottom: $content-margin;
    font-size: 22px;
  }
}

.blog-post {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1;
  grid-column: 1;


  .title {
    font-family: "Raleway", sans-serif;
    align-self: stretch;
    background: $background-colour-dark;
    color: $light-text-colour;
    padding: $content-padding;

    h1 {
      text-align: left !important;
      margin: 0 0 5px;
      font-size: 40px !important;
    }

    h4 {
      margin: 0;
      font-style: italic;
    }
  }

  img {
    display: inline-block;
  }

  a {
    color: $dark-text-colour;
    font-weight: bold;
  }

  .content {
    max-width: 1000px;
  }

  & + .side {
    @media (max-width: $media-xsmall) {
      grid-row: 2 !important;
    }
  }

  > .newsletter {
    width: 80%;
  }
}

.related {
  color: $dark-text-colour;
  display: flex;
  flex-direction: column;

  > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    width: 80%;
    align-self: center;
    grid-gap: $content-padding;

    .post {
      display: grid;
      grid-gap: 5px;
      align-items: center;
      grid-template-rows: 1fr 2fr auto auto;

      > a {
        align-self: stretch;
        background: #e5f0f2;
        border: none;
        justify-self: center;

        img {
          object-fit: cover;
          min-height: 100%;
        }
      }
    }
  }
}
