@import "inc/variables";
@import "inc/bar";

.content {
  header {
    background: $background-colour-dark;
    padding: $content-padding;

    h1, h2 {
      text-align: center;
      color: $light-text-colour;
    }
  }

  .post-content {
    .main-col {

      @media (max-width: $media-small) {
        order: -1;
      }

      > div {
        background: #eee;
        padding: 0;
        margin: 1%;

        > h1 {
          text-align: center;
          font-size: 45px;
          margin-bottom: 15px;

          @include inline-header;
          @include bar;
          left: unset;
          transform: unset;
        }
      }

      img {
        max-width: unset !important;
      }
    }
  }

  .row {
    .col {
      flex-grow: 1;
      flex-basis: 10%;
    }

    .main-col {
      flex-grow: 5;


        .post {
          height: 100%;
          display: flex;
          flex-direction: column;

          .title {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
          }

          a {
            color: #000;
            &:hover {
              color: #000;
            }
          }

          a.read-more {
            color: #000;
            background: #ddd;
            border: $primary-colour 2px solid;
            padding: 10px;

            align-self: center;
            text-transform: uppercase;

            &:hover {
              background: #000;
              color: #fff;
            }
          }
        }
    }
  }

  .blog {
    padding: 0 !important;
  }

  .jump-links {
    display: none;
    background: #eee;
    border: #fff 7px solid;
    padding: $column-gutter !important;

    h3 {
      margin: 0;
    }

    a {
      margin: 0 5px;
      text-decoration: none;
      color: #000;
      @include bar;


      &:hover::after {
        width: 100%;
        opacity: 1;
      }
    }
    
    @media (max-width: $media-small) {
      display: flex;
    }
  }
}

h2, h3 {
  text-align: center;
  margin-bottom: 0;
}

.desc, .newsletter {
  border: $primary-colour 2px solid;
}

.newsletter {
  i {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
    display: block;
  }

   input, button {
     padding: 7px 15px;
     margin: 2px 0;
   }
}

.post {
  background: #eee;
  padding: 20px;
  margin-bottom: 20px;
  color: #000;

  h3, h4 {
    margin: 0;
    text-align: center;
  }

  h3 {
    font-size: 25px;
  }

  img {
    margin-top: 20px;
  }
}
