@import "inc/variables";
@import "inc/bar";

.content {
  width: 80%;
  margin: $column-gutter auto;

  @media (max-width: $media-medium) {
    width: 95%;
  }

  @media (max-width: $media-small) {
    width: auto;
  }

  .post-content {
    .main-col {
      @media (max-width: $media-small) {
        order: -1;
      }

      > h1 {
        text-align: center;
        font-size: 45px;
        margin-top: 0;
        margin-bottom: 15px;

        @include inline-header;
        @include bar;
        left: unset;
        transform: unset;
      }
    }

    img {
      max-width: unset !important;
    }
  }

  .row {
    .col {
      flex-grow: 1;
      flex-basis: 10%;
    }

    .main-col {
      flex-grow: 5;
    }
  }

  .jump-links, .blog {
    padding: 0 !important;
  }

  .jump-links {
    display: none;
    
    @media (max-width: $media-small) {
      display: flex;
    }
  }
}

h2, h3 {
  text-align: center;
  margin-bottom: 0;
}

.desc, .newsletter {
  border: $primary-colour 2px solid;
}

.newsletter {
  i {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
    display: block;
  }

   input, button {
     padding: 7px 15px;
     margin: 2px 0;
   }
}

.post {
  background: #eee;
  padding: 20px;
  margin-bottom: 20px;
  color: #000;

  h3, h4 {
    margin: 0;
    text-align: center;
  }

  h3 {
    font-size: 25px;
  }

  img {
    margin-top: 20px;
  }
}
