@import "inc/variables";
@import "inc/slider";
@import "inc/services";
@import "inc/testimonials";

.main-slider {
  margin-top: $content-padding;

  .main-slider-inner {
    $width: 60%;

    padding-bottom: ($width/100%) * 49.995%;
    position: relative;

    @include slider($width, 20%);

    .slider {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .slide {
        background-size: cover;
        background-position: 50% 50%;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.about {
  background: $background-colour-dark;
  color: $light-text-colour;
  margin-top: $content-padding;
  position: relative;

  > div {
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.5;

    a {
      font-size: 22px;
    }
  }
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba($background-colour,.6), rgba($background-colour,.6)), url(../img/desc.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  div {
    width: 80%;
    border: 2px solid $background-colour-dark;
    padding: $content-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 30px;
      margin: $content-margin;
      text-transform: uppercase;
      font-weight: normal;
    }

    p {
      font-size: 25px;
      max-width: 1000px;
      margin: $content-padding/2 0;
    }
  }
}