@import "inc/variables";
@import "inc/slider";
@import "inc/services";
@import "inc/testimonials";
@import "inc/portfolio";

.main-slider {
  padding-top: $nav-height;
  margin-top: -$nav-height;

  .main-slider-inner {
    $width: 60%;

    padding-bottom: ($width/100%) * 49.995%;
    position: relative;

    @include slider($width, 20%);

    .slider {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .slide {
        background-size: cover;
        background-position: 50% 50%;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.about {
  h1 {
    @include bar;
    @include inline-header;
    font-weight: bold !important;
  }

  > div {
    width: 80%;
    margin: 0 auto;
    font-size: 23px;
  }
}