@import "inc/variables";
@import "inc/slider";
@import "inc/services";
@import "inc/testimonials";

.main-slider {
  margin-top: $content-padding;

  .main-slider-inner {
    $width: 60%;

    padding-bottom: ($width/100%) * 49.995%;
    position: relative;

    @include slider($width, 20%);

    .slider {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .slide {
        background-size: cover;
        background-position: 50% 50%;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.about {
  background: $background-colour-dark;
  color: $light-text-colour;
  margin-top: $content-padding;
  position: relative;

  > div {
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.5;

    a {
      font-size: 22px;
    }
  }
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/desc.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Raleway, sans-serif;

  div {
    width: 80%;
    padding: $content-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $dark-text-colour;
    font-size: 45px;
    font-weight: normal;
    background: linear-gradient(rgba($background-colour, .6), rgba($background-colour, .6));

    h3 {
      font-size: 30px;
      margin: $content-margin;
      text-transform: uppercase;
      font-weight: normal;
    }

    p {
      font-size: 25px;
      max-width: 1100px;
      margin: $content-padding/2 0;
    }
  }
}

.as-seen-on {
  background: $background-colour-dark;
  padding: $content-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;

  h2 {
    margin-top: 0;
    color: $light-text-colour;
  }

  > div {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: space-evenly;
    align-items: center;
    grid-gap: $content-padding;
  }
}