@import "inc/variables";

.content {
  display: flex;
  flex-direction: column;

  header {
    background-image: url(../img/portfolio.jpg);
  }
}

.desc {
  font-size: 23px;
  width: 80%;
  margin: 0 auto;
}

@import "inc/portfolio";