.content.old .row:first-of-type {
  padding-bottom: 0 !important; }
.content.old .row.credits {
  padding: 0 50px !important; }
  .content.old .row.credits .col {
    padding: 0 2vw !important;
    text-align: right; }
.content.old .row.text {
  font-size: 20px;
  padding-top: 0 !important;
  padding-bottom: 50px !important; }
.content.old .col h2 {
  font-size: 35px;
  margin: 0 0 29px;
  display: inline-block;
  position: relative; }
  .content.old .col h2::after {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    content: "";
    border-radius: 2px;
    border: solid #335470 1px;
    transition: width 0.2s;
    bottom: -4px; }
.content.old .col .imgs {
  padding-bottom: 59.994%;
  position: relative; }
  .content.old .col .imgs .slider {
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .content.old .col .imgs .slider .slider-inner {
      perspective: 5px;
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      position: relative; }
      .content.old .col .imgs .slider .slider-inner .slide {
        position: absolute;
        width: 90%;
        height: 100%;
        transform: translateZ(-2px);
        left: -85%;
        transition: height 0.5s, transform 0.5s, left 0.5s; }
        .content.old .col .imgs .slider .slider-inner .slide.is-active {
          left: 5%;
          transform: translateY(0) translateZ(0); }
        .content.old .col .imgs .slider .slider-inner .slide.is-active ~ .slide {
          left: 95%;
          display: none; }
        .content.old .col .imgs .slider .slider-inner .slide.is-active + .slide {
          display: block; }
      .content.old .col .imgs .slider .slider-inner .arrow {
        font-size: 30px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 15px 10px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        z-index: 99;
        transition: opacity 0.2s; }
        .content.old .col .imgs .slider .slider-inner .arrow:hover {
          opacity: 1; }
      .content.old .col .imgs .slider .slider-inner .arrow:last-of-type {
        right: 5%;
        left: unset;
        transform: translateY(-50%); }
  .content.old .col .imgs .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .content.old .col .imgs .slider .slide {
      overflow: hidden; }
      .content.old .col .imgs .slider .slide img {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%; }

.content:not(.old) .header {
  background: #335470; }
  .content:not(.old) .header h1, .content:not(.old) .header h2, .content:not(.old) .header h3 {
    color: #e5f0f2; }
  .content:not(.old) .header h1 {
    margin-top: 50px;
    margin-bottom: 0; }
  .content:not(.old) .header h2, .content:not(.old) .header h3 {
    text-align: center; }
  .content:not(.old) .header hr {
    border-color: #e5f0f2; }
.content:not(.old) .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: row dense;
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto; }
  .content:not(.old) .grid p {
    font-size: 30px;
    text-align: center; }
  .content:not(.old) .grid .type-I {
    align-self: stretch;
    justify-self: stretch;
    position: relative; }
    .content:not(.old) .grid .type-I img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
    .content:not(.old) .grid .type-I img.hover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      pointer-events: none; }
    .content:not(.old) .grid .type-I:hover img.hover {
      opacity: 1; }

/*# sourceMappingURL=project.css.map */
