@import "inc/variables";
@import "inc/testimonials";
@import "inc/bar";

.content {
  .bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background-colour-dark;
    color: $light-text-colour;
    text-align: center;
    font-size: 22px;

    a {
      font-size: 30px;
      margin: $content-margin;
    }
  }

  .services {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    //grid-gap: $content-padding*2;
    padding: $content-padding*4 !important;
    align-items: center;
    justify-content: center;
    background: $background-colour;

    .service-block {
      display: grid;
      grid-template-columns: 3fr 4fr;
      margin: $content-margin*4 0;
      max-width: 1250px;
      justify-self: center;
      grid-column-gap: $content-padding*2;

      &.hero-service-block {
        grid-template-columns: 1fr;
        margin-top: 0;

        img {
          grid-column: 1;
          grid-row: 1;
          margin-bottom: $content-margin*2;
        }

        .title {
          grid-row: 2;
        }

        .service-content {
          grid-row: 3;
        }
      }

      &:nth-child(even) {
        grid-template-columns: 4fr 3fr;

        .title, .service-content {
          grid-column: 2;
        }

        img {
          grid-column: 1;
        }
      }

      .title {
        //padding: $content-padding;
        //background: $background-colour-dark;
        grid-column: 1;
        align-self: end;

        h2 {
          font-family: Baskerville, serif;
          text-align: center;
          justify-self: center;
          margin: 0;
          color: $dark-text-colour;
          text-transform: uppercase;
          font-size: 30px;
        }

        > p {
          font-size: 25px;
          text-align: center;
          color: $dark-text-colour;
          margin: $content-margin/2 0 0;
        }
      }

      img {
        grid-column: 2;
        grid-row: 1/3;
        align-self: stretch;
        justify-self: stretch;
        object-fit: contain;
      }

      //h3:first-of-type {
      //  font-family: Baskerville, serif;
      //  text-align: center;
      //  margin: 0 0 $content-padding;
      //  color: $dark-text-colour;
      //  text-transform: uppercase;
      //  font-size: 30px;
      //}

      .description {
        font-family: Raleway, sans-serif;
        font-size: 17px;
        line-height: 1.4;
        margin-top: $content-padding;
        text-align: left;

        p:first-of-type {
          margin-top: 0;
        }

        p:last-of-type {
          margin-bottom: 0;
        }
      }

      .price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $dark-text-colour;
        font-size: 25px;
        font-family: Baskerville, serif;
        justify-self: center;
        margin-bottom: 0;
        text-align: center;

        > span {
          text-align: center;
        }

        .buttons {
          display: flex;
          flex-direction: row;
        }

        .button {
          margin: $content-margin $content-margin/2 0;
          background: $background-colour-dark;
          border: none;
        }
      }
    }

    > h3 {
      text-align: center;
      font-size: 1.8em;
      margin: 0;
      color: $dark-text-colour;
    }

    @media (max-width: $media-xsmall) {
      padding: $content-padding/2 !important;

      .service-block {
        max-width: unset;
        grid-template-columns: 1fr !important;

        .title, .service-content {
          grid-column: 1 !important;
        }

        img {
          grid-column: 1;
          grid-row: 3;
          margin-top: $content-padding;
        }
      }
    }
  }
}
