@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed'), local('OpenSansCondensed'), url(../fonts/OpenSansCondensed-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Condensed Italic'), local('OpenSansCondensed-Italic'), url(../fonts/OpenSansCondensed-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(../fonts/OpenSansCondensed-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Baskerville';
  font-style: normal;
  src: url(../fonts/Baskerville.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  font-size-adjust: 0.5;
}

@import "inc/variables";
@import "inc/hamburger";
@import "inc/nav";
@import "inc/instagram";
@import "inc/forms";
@import "inc/bar";

body {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: "Baskerville", serif;
}

textarea, input, button, select {
  font-family: inherit;
}

a {
  color: $light-text-colour;
  transition: color .2s;
  text-decoration: none;

  &:hover {
    color: lighten($light-text-colour, 20%);
  }
}

a.button {
  border: 2px $light-text-colour solid;
  padding: 10px;
}

hr {
  width: 30%;
  border: 1px solid $primary-colour;
  height: 0;
}

blockquote {
  margin: 0;

  &::before, &::after {
    content: '\275D';
    font-size: 50px;
    line-height: 0.7;
  }

  &::after {
    content: '\275E';
    vertical-align: top;
    float: right;
    line-height: 1.1;
  }
}

img {
  max-width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1;
  transition: opacity 0.3s;

  &.round {
    border-radius: 50%;
  }

  &[data-src] {
    opacity: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  .left, .right, .col {
    flex-basis: 0;
    flex-shrink: 0;
    padding: $column-gutter;

    @media (max-width: $media-small) {
      flex-basis: 100% !important;
    }
  }

  .left {
    flex-grow: 1;
    flex-basis: 20%;
  }

  .right {
    flex-grow: 3;
  }

  &.row-big-left {
    .left {
      flex-grow: 3;
      @media (max-width: $media-small) {
        order: 2;
      }
    }

    .right {
      flex-grow: 1;
      flex-basis: 20%;
    }
  }

  .col {
    flex-grow: 1;
    text-align: center;
  }

  &::after {
    content: " ";
    display: block;
    clear: both;
  }
}

.wrapper {
  height: 100vh;

  .content {
    > h1 {
      text-align: center;
      font-size: 45px;
      margin-top: 15px;
      margin-bottom: 0;

      @include inline-header;
      @include bar;
    }

    > div {
      padding: $content-padding;

      @media (max-width: $media-small) {
        padding: 0;
        width: auto;
        margin: 0 5%;
      }

      h1 {
        margin-top: $content-margin;
        margin-bottom: $content-margin+$content-padding;
        text-align: center;
        font-size: $header-font-size;
        font-weight: normal;
      }
    }
  }

  .pre-footer {
    padding: 20px 0;
    align-items: center;
    display: flex;
    flex-direction: column;

    .logos {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      justify-items: center;

      img {
        margin: 0 $content-padding/2;
        max-height: $nav-height/2;
        min-height: $nav-height/4;
        vertical-align: middle;
        max-width: 100%;

        @media (max-width: $media-medium) {
          max-height: $nav-height/4;
        }
      }
    }

    .large-logos {
      @extend .logos;
      img {
        max-height: $nav-height;
      }
    }

    .socials {
      display: flex;
      justify-content: center;

      a {
        margin: 0 5px;
        font-size: 27px;

        @include bar;
        &::after {
          width: 0;
          opacity: 0;
        }

        &:not(.is-active):hover::after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  .footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: $content-padding/2;

    a {
      color: #fff;
    }
  }
}
