@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Baskerville';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Baskerville.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

@import "inc/variables";
@import "inc/hamburger";
@import "inc/nav";
@import "inc/instagram";
@import "inc/forms";
@import "inc/bar";
@import "inc/quiz";

body {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: "Baskerville", serif;
}

button {
  font-family: inherit;
}

a {
  color: $light-text-colour;
  transition: color .2s;
  text-decoration: none;

  &:hover {
    color: lighten($light-text-colour, 20%);
  }

  &.dark:not(.button) {
    color: $dark-text-colour;

    &:hover {
      color: lighten($dark-text-colour, 20%);
    }
  }
}

a.button {
  border: 2px $light-text-colour solid;
  padding: 10px;
  cursor: pointer;
  display: inline-block;

  &.dark {
    background: $background-colour-dark;
    border: none;
  }
}

hr {
  width: 30%;
  border: 1px solid $background-colour-dark;
  height: 0;
}

blockquote {
  margin: 20px 0;
  font-style: italic;
  position: relative;

  &::before, &::after {
    content: '\275D';
    font-size: 50px;
    line-height: 0.7;
  }

  &::before {
    margin-right: 5px;
  }

  &::after {
    content: '\275E';
    vertical-align: top;
    line-height: 1.1;
    margin-left: 5px;
    position: absolute;
    bottom: -25px;
  }
}

img {
  max-width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1;
  transition: opacity 0.3s;

  &.round {
    border-radius: 50%;
  }

  &[data-src] {
    opacity: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  .left, .right, .col {
    flex-basis: 0;
    flex-shrink: 0;
    padding: $column-gutter;

    @media (max-width: $media-small) {
      flex-basis: 100% !important;
    }
  }

  .left {
    flex-grow: 1;
    flex-basis: 20%;
  }

  .right {
    flex-grow: 3;
  }

  &.row-big-left {
    .left {
      flex-grow: 3;
      @media (max-width: $media-small) {
        order: 2;
      }
    }

    .right {
      flex-grow: 1;
      flex-basis: 20%;
    }
  }

  .col {
    flex-grow: 1;
    text-align: center;
  }

  &::after {
    content: " ";
    display: block;
    clear: both;
  }
}

.wrapper {
  height: 100vh;

  .content {
    header {
      background-color: $background-colour-dark;
      background-image: var(--header-background);
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: $content-padding 0;
      min-height: 355px;

      > img {
        max-width: 500px;
      }

      > h1 {
        margin: 0;
        text-align: center;
        color: $dark-text-colour;
        font-size: 45px;
        font-weight: normal;
        text-transform: uppercase;
        background: linear-gradient(rgba($background-colour, .6), rgba($background-colour, .6));
        padding: $content-padding;
      }
    }

    > h1 {
      text-align: center;
      font-size: 60px;

      @include inline-header;
      position: relative;
    }

    > div {
      padding: $content-padding;

      h1 {
        text-align: center;
        font-size: $header-font-size;
        font-weight: normal;
      }
    }
  }

  .pre-footer {
    padding: 20px 0;
    justify-items: center;
    display: grid;
    grid-gap: $content-padding;
    background: $background-colour;

    .logos {
      display: grid;
      grid-gap: $content-padding;
      grid-template-columns: 2fr 1fr;
      //justify-items: center;

      @media (max-width: $media-small) {
        grid-template-columns: 1fr;
      }

      div:not(.cla) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        justify-items: center;
        grid-gap: $content-padding;
        margin-left: $content-padding;
        align-content: center;
        align-items: center;

        img {
          max-height: 125px;
        }
      }

      .cla {
        display: grid;
        grid-auto-rows: 125px;
        justify-items: center;
        align-items: center;

        img {
          max-height: 100%;
        }
      }
    }

    .socials {
      display: grid;
      justify-content: center;
      grid-auto-flow: column;
      grid-gap: 20px;
      grid-auto-columns: 1fr;

      a {
        margin: 0 5px;
        font-size: 16px;
        color: #fff;
        background: $background-colour-dark;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          line-height: 1;
        }

        @include bar;

        &::after {
          width: 0;
          opacity: 0;
        }

        &:not(.is-active):hover::after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  .footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: $content-padding/2;

    a {
      color: #fff;
    }
  }
}

@mixin h2 {
  min-height: 2.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-outer .h2-stripe {
  background: $background-colour-dark;
  padding: 40px;
  color: $light-text-colour;
  @include h2;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  margin-top: 0;
}

.calendar {
  font-family: "Raleway", sans-serif;
  position: relative;
  display: inline-block;
  width: 100%;

  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
  }

  > h2.lead {
    @include h2;
    background: $background-colour;
    margin-top: 0;
  }

  h2, h3 {
    font-family: "Baskerville", serif;

    &.error {
      color: #9d0828;
    }
  }

  h3.notice {
    background: $background-colour-dark;
    padding: 10px;
    color: $light-text-colour;
  }

  p {
    text-align: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $content-padding;
    text-align: center;
    background: $background-colour;

    h3 {
      margin: 0;
      font-size: 30px;
      font-family: Baskerville, serif;
      padding-bottom: $content-padding/2;
      border-bottom: 2px solid $dark-text-colour;
    }

    p {
      flex-grow: 1;
    }
  }

  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    justify-content: center;
  }

  .back-button {
    position: absolute;
    top: calc(1.1em + 33.2px);
    font-size: 25px;
    left: 10px;
  }

  .BookingTypes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: $content-padding;
  }

  .DaySelect {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr) auto;
    grid-gap: $content-padding;
    align-items: center;

    @media (max-width: $media-medium) {
      grid-template-columns: repeat(5, 1fr);

      i {
        grid-column: span 5;
      }
    }

    @media (max-width: $media-small) {
      grid-template-columns: repeat(3, 1fr);

      i {
        grid-column: span 3;
        text-align: center;
      }
    }

    @media (max-width: $media-xsmall) {
      grid-template-columns: repeat(2, 1fr);

      i {
        grid-column: span 2;
        text-align: center;
      }
    }

    .Day {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: stretch;
      text-align: center;
    }
  }

  .TimeSelect {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: $content-padding;
  }

  .BookingInfo {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: $content-padding;
    padding: $content-padding 0;
    text-align: center;

    p, h2, h3 {
      margin: 0;
    }
  }

  .CustomerDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $content-padding;
    padding: $content-padding 0;
    align-items: start;

    .loader {
      grid-row: 1;
      grid-column: 1/3;
      background: rgba(255, 255, 255, 0.9);
      height: 100%;
      z-index: 99;
    }

    .BookingInfo {
      grid-row: 1;
      grid-column: 1;
    }

    .Form {
      display: flex;
      flex-direction: column;
      grid-gap: $content-padding;
      grid-row: 1;
      grid-column: 2;
    }
  }
}

#scroll-top {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px 13px;
  font-weight: bold;
  font-size: 30px;
  z-index: 199;
}