@import "inc/variables";

.desc {
  width: 80%;
  margin: 0 auto;
  font-size: 23px;
}

.row {
  align-items: center;

  @media (max-width: $media-small) {
    padding: $content-padding !important;
  }

  img {
    max-height: 30vh;
    margin: 0 auto;
    display: block;
  }

  blockquote {
    font-size: 25px;
  }

  .by-line, h4 {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}