@import "inc/variables";
@import "inc/testimonials";

.about {
  background: $background-colour-dark;
  color: $light-text-colour;
  position: relative;

  > div {
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.5;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    max-width: 350px;
    margin: $content-padding*2;
  }

  p {
    width: 80vw;
    max-width: 1300px;
    text-align: center;

    a.button {
      font-size: 30px;
    }
  }
}