@import "inc/bar";

.content {
  > div {
    margin: 0 5%;

    h1 {
      margin: unset !important;
      font-weight: bold !important;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      position: relative;

      @include bar;
    }
  }
}

.row {
  align-items: center;
}