@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Baskerville';
  font-style: normal;
  src: url(../fonts/Baskerville.ttf) format("truetype"); }
* {
  box-sizing: border-box; }

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  .hamburger .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger .hamburger-inner::before {
      top: -10px; }
    .hamburger .hamburger-inner::after {
      bottom: -10px; }
  .hamburger .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear; }
    .hamburger .hamburger-inner::before {
      top: 10px;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger .hamburger-inner::after {
      top: 20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent; }
    .hamburger.is-active .hamburger-inner::before {
      top: 0;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger.is-active .hamburger-inner::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(-45deg); }

.nav {
  height: 170px;
  background: #e5f0f2;
  padding: 25px 25px 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 10vw 170px 1fr 10vw; }
  .nav .logo {
    height: 100%;
    grid-column: 2; }
    .nav .logo img {
      max-width: 100%;
      max-height: 100%;
      pointer-events: all; }
  .nav nav {
    transform: translateY(-12.5px);
    display: grid;
    grid-column: 3;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: end; }
    .nav nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #335470;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative; }
      .nav nav a::after {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        content: "";
        border-radius: 2px;
        border: solid #335470 1px;
        transition: opacity 0.2s, width 0.2s;
        bottom: -4px; }
      .nav nav a::after {
        width: 0;
        opacity: 0; }
      .nav nav a:not(.is-active):hover::after {
        width: 100%;
        opacity: 1; }
      .nav nav a.is-active {
        color: #233a4d; }
      .nav nav a::before {
        content: "";
        border-right: 1px solid #2D76C4;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -15px; }
      .nav nav a:last-of-type::before {
        display: none; }
  @media (max-width: 700px) {
    .nav .nav-left {
      position: absolute;
      display: block;
      background: rgba(0, 0, 0, 0.9);
      z-index: 99;
      padding-bottom: 6px;
      left: 0;
      opacity: 1;
      visibility: visible;
      transition: visibility .5s, opacity .5s;
      top: 0; }
      .nav .nav-left a {
        display: table;
        margin: 0 auto;
        color: #fff; } }
  @media (max-width: 700px) {
    .nav .nav-right {
      position: absolute;
      display: block;
      background: rgba(0, 0, 0, 0.9);
      z-index: 99;
      padding-bottom: 6px;
      left: 0;
      opacity: 1;
      visibility: visible;
      transition: visibility .5s, opacity .5s; }
      .nav .nav-right a {
        display: table;
        margin: 0 auto;
        color: #fff; } }
  .nav .menu-button {
    content: "\f0c9";
    position: absolute;
    z-index: 999;
    left: 12.5px;
    top: 0;
    color: #2D76C4;
    font-size: 50px;
    font-weight: 900;
    display: none; }
  @media (max-width: 700px) {
    .nav:not(.show-menu) .nav-left {
      visibility: hidden;
      opacity: 0; }
    .nav:not(.show-menu) .nav-right {
      visibility: hidden;
      opacity: 0; }
    .nav .menu-button {
      display: block; } }

.instagram {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif; }
  .instagram h2 {
    text-align: center;
    font-weight: normal; }
    .instagram h2 a {
      color: #335470; }
      .instagram h2 a:hover {
        color: #5788b2; }
  .instagram > div {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 30vmin);
    justify-content: center;
    align-items: center;
    grid-gap: 12.5px;
    grid-auto-rows: 30vmin; }
    .instagram > div a {
      width: 100%;
      height: 100%; }
      .instagram > div a img {
        object-fit: cover;
        height: 100%;
        width: 100%; }

input, textarea, button {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 20px;
  background: #e5f0f2; }
  @media (max-width: 800px) {
    input, textarea, button {
      margin: 0; } }

button {
  color: #e5f0f2;
  background: #335470;
  font-size: 20px;
  width: auto;
  justify-self: center;
  min-width: 30%; }

body {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: "Baskerville", serif; }

textarea, input, button, select {
  font-family: inherit; }

a {
  color: #e5f0f2;
  transition: color .2s;
  text-decoration: none; }
  a:hover {
    color: white; }

a.button {
  border: 2px #e5f0f2 solid;
  padding: 10px;
  cursor: pointer;
  display: inline-block; }
  a.button.dark {
    background: #335470;
    border: none; }

hr {
  width: 30%;
  border: 1px solid #335470;
  height: 0; }

blockquote {
  margin: 0;
  font-style: italic;
  position: relative; }
  blockquote::before, blockquote::after {
    content: '\275D';
    font-size: 50px;
    line-height: 0.7; }
  blockquote::before {
    margin-right: 5px; }
  blockquote::after {
    content: '\275E';
    vertical-align: top;
    line-height: 1.1;
    margin-left: 5px;
    position: absolute;
    bottom: -25px; }

img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1;
  transition: opacity 0.3s; }
  img.round {
    border-radius: 50%; }
  img[data-src] {
    opacity: 0; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row .left, .row .right, .row .col {
    flex-basis: 0;
    flex-shrink: 0;
    padding: 1%; }
    @media (max-width: 800px) {
      .row .left, .row .right, .row .col {
        flex-basis: 100% !important; } }
  .row .left {
    flex-grow: 1;
    flex-basis: 20%; }
  .row .right {
    flex-grow: 3; }
  .row.row-big-left .left {
    flex-grow: 3; }
    @media (max-width: 800px) {
      .row.row-big-left .left {
        order: 2; } }
  .row.row-big-left .right {
    flex-grow: 1;
    flex-basis: 20%; }
  .row .col {
    flex-grow: 1;
    text-align: center; }
  .row::after {
    content: " ";
    display: block;
    clear: both; }

.wrapper {
  height: 100vh; }
  .wrapper .content header {
    background-image: var(--background);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrapper .content header > h1 {
      margin: 125px 0;
      text-align: center;
      color: #335470;
      font-size: 45px;
      font-weight: normal;
      text-transform: uppercase;
      background: linear-gradient(rgba(229, 240, 242, 0.6), rgba(229, 240, 242, 0.6));
      padding: 25px; }
  .wrapper .content > h1 {
    text-align: center;
    font-size: 60px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative; }
  .wrapper .content > div {
    padding: 25px; }
    @media (max-width: 800px) {
      .wrapper .content > div {
        padding: 0;
        width: auto;
        margin: 0 5%; } }
    .wrapper .content > div h1 {
      text-align: center;
      font-size: 45px;
      font-weight: normal; }
  .wrapper .pre-footer {
    padding: 20px 0;
    justify-items: center;
    display: grid;
    grid-gap: 25px;
    background: #e5f0f2; }
    .wrapper .pre-footer .logos {
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-items: center; }
      .wrapper .pre-footer .logos div:not(.cla) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        justify-items: center;
        grid-gap: 25px;
        margin-left: 25px;
        align-content: center;
        align-items: center; }
        .wrapper .pre-footer .logos div:not(.cla) img {
          max-height: 125px; }
      .wrapper .pre-footer .logos .cla {
        display: grid;
        grid-auto-rows: 125px;
        justify-items: center; }
        .wrapper .pre-footer .logos .cla img {
          max-height: 100%; }
    .wrapper .pre-footer .socials {
      display: grid;
      justify-content: center;
      grid-auto-flow: column;
      grid-gap: 20px;
      grid-auto-columns: 1fr; }
      .wrapper .pre-footer .socials a {
        margin: 0 5px;
        font-size: 16px;
        color: #fff;
        background: #335470;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
        .wrapper .pre-footer .socials a i {
          line-height: 1; }
        .wrapper .pre-footer .socials a::after {
          position: absolute;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          height: 0;
          content: "";
          border-radius: 2px;
          border: solid #335470 1px;
          transition: opacity 0.2s, width 0.2s;
          bottom: -4px; }
        .wrapper .pre-footer .socials a::after {
          width: 0;
          opacity: 0; }
        .wrapper .pre-footer .socials a:not(.is-active):hover::after {
          width: 100%;
          opacity: 1; }
  .wrapper .footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 12.5px; }
    .wrapper .footer a {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
