{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="content"
         {% if config.home_help_image %}style="--header-background: url({{ config.home_help_image.url }});"{% endif %}>
        <header>
            <h1 style="text-transform: none">Login</h1>
        </header>
        <div style="text-align: center; font-size: 30px;">
            <div class="form" style="max-width: 700px; margin: 0 auto;">
                <form action="{% url 'magiclink:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                        method="post"
                >
                    {% csrf_token %}
                    <div>
                        {{ login_form.email.label_tag }}
                        {{ login_form.email }}
                        {{ login_form.email.errors }}
                    </div>
                    <button type="submit">Send login email</button>
                </form>
                {% if require_signup %}
                    <p>Don't have an account? <a href="{% url 'magiclink:signup' %}" class="dark">Sign up here</a></p>
                {% endif %}
                <a href="{% url 'login' %}" class="dark">Login with password</a>
            </div>
        </div>
    </div>
{% endblock %}