{% extends "main_site_emails/base.html" %}
{% block content %}
    <h2>
        Hi {{ user.get_short_name }},
    </h2>
    <p>
        You're receiving this email because you requested a password reset for your account with Louise Misell Interiors.
    </p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset your password here</a>
    </p>
    <p>
        Your username, in case you’ve forgotten is {{ user.get_username }}
    </p>
{% endblock %}
