{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}Password changed{% endblock %}

{% block content %}
    <div class="content" {% if config.home_help_image %}style="--header-background: url({{ config.home_help_image.url }});"{% endif %}>
        <header>
            <h1 style="text-transform: none">Password change</h1>
        </header>
        <div style="text-align: center; font-size: 30px;">
            <div class="form" style="max-width: 700px; margin: 0 auto;">
                <p>
                    Your password has been successfully changed.
                </p>
                <a href="{% url 'profile' %}" class="dark button">Back to your profile</a>
                <a href="{% url 'index' %}" class="dark button">Home</a>
            </div>
        </div>
    </div>
{% endblock %}