{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="content" {% if config.home_help_image %}style="--header-background: url({{ config.home_help_image.url }});"{% endif %}>
        <header>
            <h1 style="text-transform: none">Password reset</h1>
        </header>
        <div style="text-align: center; font-size: 30px;">
            <div class="form" style="max-width: 700px; margin: 0 auto;">
                <p>Enter your email below and we'll send you a link to set a new one.</p>

                <form method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>

                    <button type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}