{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}Password change{% endblock %}

{% block content %}
    <div class="content" {% if config.home_help_image %}style="--header-background: url({{ config.home_help_image.url }});"{% endif %}>
        <header>
            <h1 style="text-transform: none">Password change</h1>
        </header>
        <div style="text-align: center; font-size: 30px;">
            <div class="form" style="max-width: 700px; margin: 0 auto;">
                <p>Please enter your old password, and then your new password twice.</p>

                <form method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.old_password.label_tag }}
                        {{ form.old_password }}
                        {{ form.old_password.errors }}
                    </div>
                    <div>
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.help_text|safe }}
                    </div>
                    <div>
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                        {{ form.new_password2.help_text|safe }}
                    </div>

                    <button type="submit">
                        Submit
                    </button>

                    <a href="{% url 'password_reset' %}" class="dark">Forgot your password?</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}