@import "variables";

input, textarea, button {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0 0 2px opacify($primary-colour, 0.2);

  @media (max-width: $media-small) {
    margin: 0;
  }
}

button {
  color: #fff;
  background: $primary-colour;
  font-size: 20px;
}