{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ config.about_title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/about.css" %}">

    <meta property="og:title" content="{{ config.about_title }} | Louise Misell Interiors">
    <meta property="og:type" content="profile"/>
    <meta property="profile:first_name" content="Louise"/>
    <meta property="profile:last_name" content="Misell"/>
    <meta property="og:description" content="{{ config.about_description }}">
    <meta property="og:image" content="https://louisemisellinteriors.co.uk{{ sections.first.images.first.image.url }}">

    <meta name="description" content="{{ config.about_description }}">
    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'about' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <header {% if config.about_image_2 %}style="--header-background: url({{ config.about_image_2.url }});"{% endif %}>
            <h1>Why choose me as your interior designer?</h1>
        </header>
        <div class="bio">
            {{ config.about_text_2|safe }}
        </div>
        <header {% if config.about_header_image %}style="--header-background: url({{ config.about_header_image.url }});"{% endif %}>
            <h1>About Louise</h1>
        </header>
        <div class="about">
            <div>
                {{ config.about_mission_statement|safe }}
            </div>
        </div>
        <div class="bio" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Louise Misell">
            <link itemprop="image"
                  href="https://louisemisellinteriors.co.uk{% static 'main_site/img/louise-head.jpg' %}"/>
            <img src="{% static 'main_site/img/louise-head.jpg' %}" alt="">

            {{ config.about_text|safe }}
            <p>
                <a href="{% url 'contact' %}" class="button dark">{{ config.about_cta }}</a>
            </p>
        </div>
        <div class="testimonials">
            <div class="content" itemscope itemtype="https://schema.org/Review">
                <blockquote itemprop="reviewBody">{{ testimonial.text }}</blockquote>
                <span class="by-line" itemprop="author">{{ testimonial.client }}</span>
                {% if testimonial.related_project %}
                    <link itemprop="itemReviewed"
                          href="{% url 'project' testimonial.related_project.id %}">
                {% else %}
                    <link itemprop="itemReviewed" href="{% url 'contact' %}">
                {% endif %}
                {% if testimonial.image %}
                    <link itemprop="image" href="{{ testimonial.image.url }}"/>
                {% endif %}
                <p>
                    <a href="{% url 'testimonials' %}" class="button">{{ config.about_testimonials_cta }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}