{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{%  static "main_site/style/about.css" %}">

    <meta property="og:title" content="About Louise">
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Louise" />
    <meta property="profile:last_name" content="Misell" />
    <meta property="og:description" content="{{ sections.first.text }}">
    <meta property="og:image" content="https://louisemisellinteriors.co.uk{{ sections.first.images.first.image.url }}">

    <meta name="description" content="{{ sections.first.text }}">
{% endblock %}

{% block content%}
    <div class="content">
        <div class="bio" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Louise Misell">
            <link itemprop="image" href="https://louisemisellinteriors.co.uk{{ sections.first.images.first.image.url }}" />
            {% for section in sections %}
                <div class="row{% if forloop.counter|divisibleby:2 %} row-big-left{% endif %}">
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="left">
                            {% if section.heading %}
                                <h2 itemprop="headline">{{ section.heading }}</h2>
                            {% endif %}
                            <span itemprop="description">
                                {{ section.text|safe|linebreaks }}
                            </span>
                        </div>
                        <div class="right">
                            <div class="row">
                                {% for img in section.images.all %}
                                    <div class="col">
                                        <img src="{{ img.image.url }}" alt="{{ img.alt_text }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="left">
                            <div class="row">
                                {% for img in section.images.all %}
                                    <div class="col">
                                        <img src="{{ img.image.url }}" alt="{{ img.alt_text }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="right">
                            {% if section.heading %}
                                {% if forloop.first %}
                                    <h1 itemprop="headline">{{ section.heading }}</h1>
                                {% else %}
                                    <h2 itemprop="headline">{{ section.heading }}</h2>
                                {% endif %}
                            {% endif %}
                            <span itemprop="description">
                                {{ section.text|safe|linebreaks }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}