{% extends "main_site/inc/base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}Order complete{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/shop.css" %}">
{% endblock %}

{% block content %}
    <div class="content">
        <header {% if config.basket_header_image %}style="--header-background: url({{ config.basket_header_image.url }});"{% endif %}>
            <h1>Order Complete</h1>
        </header>
        <div class="basket-complete checkout">
            <div class="steps">
                <div>
                    <div>
                        <h2>1</h2>
                        <h3>Basket</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <h2>2</h2>
                        <h3>Your<br/>details</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <h2>3</h2>
                        <h3>Payment</h3>
                    </div>
                </div>
                <div class="active">
                    <div>
                        <h2>4</h2>
                        <h3>Complete</h3>
                    </div>
                </div>
            </div>
            <h1>Thank you</h1>
            <h2>Your order is complete</h2>
            <h3>
                We've sent a confirmation to your email address.
                {% if delivery_time_range %}
                    Your order should be with you {{ delivery_time_range }}.
                {% endif %}
            </h3>
            <h3>Your order ID is {{ basket.disp_reference }}</h3>
            <p>
                If you have any queries or concerns about your order you can email us at
                <a href="mailto:{{ config.email_shop }}" class="dark">{{ config.email_shop }}</a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script>
  window.renderOptIn = function() {
    window.gapi.load('surveyoptin', function() {
      window.gapi.surveyoptin.render(
        {
          "merchant_id": 464702105,
          "order_id": "{{ basket.id }}",
          "email": "{{ basket.email }}",
          "delivery_country": "{{ basket.postage_address.country.code }}",
          "estimated_delivery_date": "{{ estimated_delivery_date|date:"Y-m-d" }}",
          "products": [{% for item in basket.items.all %}
              {% if item.product.gtin %}{"gtin": "{{ item.product.gtin }}"},{% endif %}
          {% endfor %}]
        });
    });
  }
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderOptIn"></script>
{% endblock scripts %}

