{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ config.booking_title }}{% endblock %}

{#{% block header %}#}
{#    <link rel="stylesheet" href="{% static "main_site/style/contact.css" %}">#}
{#{% endblock %}#}

{% block content %}
    <div class="content" {% if config.booking_header_image %}style="--background: url({{ config.booking_header_image.url }});"{% endif %}>
        <header>
            <h1>{{ config.booking_title }}</h1>
        </header>
        <div style="display: flex; justify-content: center;">
            <div class="calendar" id="booking-wrapper" style="flex-basis: 1000px;">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        bookingConf = {
            id: "{{ booking_id }}"
        };
    </script>
<script src="{% static "bookings/js/main_production.js" %}"></script>
{% endblock %}