{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ config.contact_title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{%  static "main_site/style/contact.css" %}">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ config.contact_title }} | Louise Misell Interiors">
    <meta property="og:image" content="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}">
    <meta property="og:description" content="{{ config.contact_description }}">
    <meta name="description" content="{{ config.contact_description }}">

    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'contact' %}">
{% endblock %}

{% block content %}
<div class="content">
        <h1>Please tell me about your project</h1>
        <div class="contact-details" itemscope itemtype="http://schema.org/LocalBusiness">
            <link itemprop="image" href="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}" />
            <meta itemprop="name" content="Louise Misell Interiors">
            <meta itemprop="description" content="{{ config.home_description }}">
            <link itemprop="url" href="{% url 'index' %}">
            <h2>Do you have any questions? Or would you like to have a chat about your project?
                Please contact me using any of the below:</h2>
            <div class="row">
                <div class="col">
                    <h3>Phone</h3>
                    <meta itemprop="telephone" content="{{ config.phone.as_e164 }}">
                    <meta itemprop="telephone" content="{{ config.mobile.as_e164 }}">
                    <p><a href="tel:{{ config.phone.as_e164 }}">{{ config.phone.as_national }}</a></p>
                    <p><a href="tel:{{ config.mobile.as_e164 }}">{{ config.mobile.as_national }}</a></p>
                </div>
                <div class="col">
                    <h3>Email</h3>
                    <p><a href="mailto:{{ config.email }}" itemprop="email">{{ config.email }}</a></p>
                </div>
                <div class="col" itemprop="address">
                    <h3>Address</h3>
                    {{ config.address|linebreaks }}
                </div>
                <div class="col">
                    <h3><a href="#book">Book online</a></h3>
                    <p><a href="#book">Click here</a> to book online</p>
                </div>
            </div>
        </div>
        <div class="form">
            <h2>Or please send me a message and I'll contact you:</h2>
            <form action="" method="post">
                {% if sent %}
                    <div class="row">
                        <div class="col">
                            <h4>Thank you, your message has been sent.</h4>
                        </div>
                    </div>
                {% endif %}

                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col">
                        {{ form.your_name.errors }}
                    </div>
                    <div class="col">
                        {{ form.your_email.errors }}
                    </div>
                    <div class="col">
                        {{ form.your_phone.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.your_name }}
                    </div>
                    <div class="col">
                        {{ form.your_email }}
                    </div>
                    <div class="col">
                        {{ form.your_phone }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.message.errors }}
                        {{ form.message }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="calendar" id="book">
            <iframe src="{% url "bookings:index" %}" frameborder="0"></iframe>
        </div>
    </div>
{% endblock %}