{% extends "main_site/inc/base.html" %}
{% load static %}
{% load hash %}

{% block title %}{{ config.contact_title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/contact.css" %}">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ config.contact_title }} | Louise Misell Interiors">
    <meta property="og:image" content="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}">
    <meta property="og:description" content="{{ config.contact_description }}">
    <meta name="description" content="{{ config.contact_description }}">

    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'contact' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <header {% if config.contact_header_image %}style="--header-background: url({{ config.contact_header_image.url }});"{% endif %}>
            <h1>Contact</h1>
        </header>
        {% if config.contact_text_1 %}
            <div class="desc">
                {{ config.contact_text_1|safe }}
            </div>
        {% endif %}
        <div class="contact-details" itemscope itemtype="http://schema.org/LocalBusiness">
            <link itemprop="image" href="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}"/>
            <meta itemprop="name" content="Louise Misell Interiors">
            <meta itemprop="description" content="{{ config.home_description }}">
            <link itemprop="url" href="{% url 'index' %}">
            {% csrf_token %}
            <div class="form">
                {% if config.contact_form_image %}
                    <img src="{{ config.contact_form_image.url }}" alt="">
                {% endif %}
                <div class="form-inner">
                    {% if sent %}
                        {{ config.contact_submitted_texts|safe }}
                    {% else %}
                        {% if booking_notice %}
                            <h3 class="notice">{{ booking_notice }}</h3>
                        {% endif %}
                        {{ config.contact_form_text|safe }}
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div>
                                {{ form.first_name.errors }}
                                {{ form.first_name }}
                            </div>
                            <div>
                                {{ form.last_name.errors }}
                                {{ form.last_name }}
                            </div>
                            <div>
                                {{ form.your_email.errors }}
                                {{ form.your_email }}
                            </div>
                            <div>
                                {{ form.your_phone.errors }}
                                {{ form.your_phone }}
                            </div>
                            <div>
                                {{ form.source.errors }}
                                {{ form.source }}
                            </div>
                            {% for question in questions %}
                                <div>
                                    {% if question.id in question_errors %}
                                        <ul class="errorlist">
                                            <li>{{ question_errors|get_dict_key:question.id }}</li>
                                        </ul>
                                    {% endif %}
                                    {% if question.question_type == question.TYPE_ONE_LINE %}
                                        <input type="text" name="question_{{ question.id }}" placeholder="{{ question.question }}">
                                    {% elif question.question_type == question.TYPE_MULTI_LINE %}
                                        <textarea name="question_{{ question.id }}" placeholder="{{ question.question }}"
                                                  cols="40" rows="10"></textarea>
                                    {% elif question.question_type == question.TYPE_SELECT %}
                                        <label for="question_{{ question.id }}">{{ question.question }}</label>
                                        <select name="question_{{ question.id }}" id="question_{{ question.id }}">
                                            {% for option in question.options.all %}
                                                <option value="{{ option.id }}">{{ option.option }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div>
                                {{ form.message.errors }}
                                {{ form.message }}
                            </div>
                            <div>
                                {{ form.newsletter.errors }}
                                <div>
                                    {{ form.newsletter }}
                                    {{ form.newsletter.label_tag }}
                                </div>
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="details">
                <h3>
                    {% if config.phone %}
                        Phone:
                        <a href="tel:{{ config.phone.as_e164 }}">{{ config.phone.as_national }}</a>
                    {% endif %}
                    {% if config.mobile %}
                        Mobile:
                        <a href="tel:{{ config.mobile.as_e164 }}">{{ config.mobile.as_national }}</a>
                    {% endif %}
                </h3>
                {% if config.phone %}
                    <meta itemprop="telephone" content="{{ config.phone.as_e164 }}">
                {% endif %}
                {% if config.mobile %}
                    <meta itemprop="telephone" content="{{ config.mobile.as_e164 }}">
                {% endif %}
                {% if config.email %}
                    <h3>Email: <a href="mailto:{{ config.email }}" itemprop="email">{{ config.email }}</a></h3>
                {% endif %}
                <h3>Location:</h3>
                <div class="address" itemprop="address">
                    {{ config.address|linebreaks }}
                </div>
            </div>
        </div>
        <div class="testimonials">
            <div class="content" itemscope itemtype="https://schema.org/Review">
                <blockquote itemprop="reviewBody">{{ testimonial.text }}</blockquote>
                <span class="by-line" itemprop="author">{{ testimonial.client }}</span>
                {% if testimonial.related_project %}
                    <link itemprop="itemReviewed"
                          href="{% url 'project' testimonial.related_project.id %}">
                {% else %}
                    <link itemprop="itemReviewed" href="{% url 'contact' %}">
                {% endif %}
                {% if testimonial.image %}
                    <link itemprop="image" href="{{ testimonial.image.url }}"/>
                {% endif %}
                <p>
                    <a href="{% url 'testimonials' %}" class="button">{{ config.contact_testimonials_cta }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
