{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/design_insider.css" %}">

    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ post.title }} | Louise Misell Interiors">
    <meta property="og:description" content="{{ prost.summary }}">
    <meta property="og:image"
          content="http://louisemisellinteriors.co.uk/{% if post.image %}{{ post.image.url }}{% endif %}">

    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'design_insider_post' post.id %}">
{% endblock %}

{% block content %}
    <div class="content" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="blog">
            <div class="blog-post">
                <h1 itemprop="headline">{{ post.title }}</h1>
                <h4>Published {{ post.date }}</h4>
                <div class="content">
                    {{ post.content|safe }}
                </div>
            </div>
            <div class="side">
                <div class="post desc">
                    <img src="{% static 'main_site/img/louise-head.jpg' %}" alt="">
                    {{ config.blog_text|linebreaks }}
                </div>
                {% include "main_site/newsletter_form.html" with form=form %}
                {% for post in short_posts %}
                    <div class="post short" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                        <meta itemprop="datePublished" content="{{ post.date|date:"c" }}"/>
                        <meta itemprop="dateModified" content="{{ post.date|date:"c" }}"/>
                        <meta itemprop="description" content="{{ post.summary }}"/>
                        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                                <meta itemprop="name" content="Louise Misell"/>
                            </span>
                        <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                <meta itemprop="name" content="Louise Misell Interiors"/>
                                <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                                    <link itemprop="url"
                                          href="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}"/>
                                </span>
                            </span>
                        <h3 itemprop="headline">{{ post.title }}</h3>
                        <h4>{{ post.date }}</h4>
                        {{ post.content|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <link itemprop="mainEntityOfPage" href="{% url 'design_insider_post' post.id %}"/>
        {% if post.image %}
            <link itemprop="image" href="{{ post.image.url }}"/>
        {% endif %}
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="Louise Misell"/>
        </span>
        <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Louise Misell Interiors"/>
            <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <link itemprop="url" href="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}"/>
            </span>
        </span>
        <meta itemprop="datePublished" content="{{ post.date|date:"c" }}"/>
        <meta itemprop="dateModified" content="{{ post.date|date:"c" }}"/>
        <meta itemprop="description" content="{{ post.summary }}"/>
    </div>
{% endblock %}