{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{%  static "main_site/style/design_insider.css" %}">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ prost.summary }}">
    <meta property="og:image" content="http://louisemisellinteriors.co.uk/{% if post.image %}{{ post.image.url }}{% endif %}">
{% endblock %}

{% block content %}
<div class="content" itemscope itemtype="http://schema.org/BlogPosting">
        <link itemprop="mainEntityOfPage" href="{% url 'design_insider_post' post.id %}" />
        {% if post.image %}
            <link itemprop="image" href="{{ post.image.url }}" />
        {% endif %}
        <meta itemprop="author" content="Louise Misell" />
        <meta itemprop="publisher" content="Louise Misell Interiors" />
        <h1 itemprop="headline">{{ post.title }}</h1>
        <meta itemprop="datePublished" content="{{ post.date|date:"c" }}" />
        <meta itemprop="dateModified" content="{{ post.date|date:"c" }}" />
        <meta itemprop="description" content="{{ post.summary }}" />
        <div class="row post-content">
            <div class="col" itemprop="articleBody">
                {{ post.content|safe }}
            </div>
        </div>
    </div>
{% endblock %}