<a href="{% url 'design_insider_post' post.id %}">
    <div class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <link itemprop="mainEntityOfPage" href="{% url 'design_insider_post' post.id %}" />
        <meta itemprop="datePublished" content="{{ post.date|date:"c" }}" />
        <meta itemprop="dateModified" content="{{ post.date|date:"c" }}" />
        <meta itemprop="description" content="{{ post.summary }}" />
        <meta itemprop="author" content="Louise Misell" />
        <meta itemprop="publisher" content="Louise Misell Interiors" />
        <h2 itemprop="headline">{{ post.title }}</h2>
        <h3>{{ post.date }}</h3>
        {% if post.image %}
            <img itemprop="image" src="{{ post.image.url }}" alt="">
        {% endif %}
    </div>
</a>