{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ config.home_title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/home.css" %}">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ config.home_title }} | Louise Misell Interiors">
    <meta property="og:image" content="http://louisemisellinteriors.co.uk{% static "main_site/img/logo.png" %}">
    <meta property="og:description" content="{{ config.home_description }}">
    <meta name="description" content="{{ config.home_description }}">

    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'index' %}">
{% endblock %}

{% block content %}
    <div class="main-slider">
        <div class="main-slider-inner">
            <div class="slider">
                <div class="slider-inner">
                    <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                    {% for img in slider_imgs %}
                        <div class="slide{% if forloop.counter == 2 %} is-active{% endif %}">
                            <img data-src="{{ img.image.url }}" alt="{{ img.alt_text }}" data-pin-nopin="true">
                        </div>
                    {% endfor %}
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="about">
            <div>
                {{ config.home_text|linebreaks }}
                <p>
                    <a href="{% url 'about' %}" class="button">Read more</a>
                </p>
            </div>
        </div>
        <div class="desc">
            <div>
                <h3>
                    How can I help?
                </h3>
                <p>
                    I offer a full range of interior design services and can help with anything from choosing paint colours
                    to a complete redesign of your home. I specialise in space planning to make your space work practically
                    for you, and will work with you to help you define your interiors style. I come to you and will travel
                    across South Wales including Cardiff, Swansea, Newport, Penarth, Cowbridge, The Vale of Glamorgan and
                    surrounding areas.
                </p>
            </div>
        </div>
        <div class="services">
                {% for service in services %}
                    <div itemscope itemtype="https://schema.org/Service">
                        {% if service.image %}<img src="{{ service.image.url }}" alt="{{ service.name }}">{% endif %}
                        <h3 itemprop="name">{{ service.name }}</h3>
                        <link itemprop="url" href="{% url 'services' %}"/>
                        <div itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
                            {% for s in service.service_summaries.all %}
                                <span itemprop="itemListElement">{{ s.text }}</span>
                            {% endfor %}
                        </div>
                        <a href="{% url 'services' %}" class="button">Find out more</a>
                        <meta itemprop="description" content="{{ service.description }}">
                        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="price" content="{{ service.price }}"/>
                        </span>
                    </div>
                {% endfor %}
        </div>
        <div class="testimonials">
            <div class="content" itemscope itemtype="https://schema.org/Review">
                <blockquote itemprop="reviewBody">{{ testimonials.0.text }}</blockquote>
                <span class="by-line" itemprop="author">{{ testimonials.0.client }}</span>
                {% if testimonials.0.related_project %}
                    <link itemprop="itemReviewed"
                          href="{% url 'project' testimonials.0.related_project.id %}">
                {% else %}
                    <link itemprop="itemReviewed" href="{% url 'contact' %}">
                {% endif %}
                {% if testimonials.0.image %}
                    <link itemprop="image" href="{{ testimonials.0.image.url }}"/>
                {% endif %}
                <p>
                    <a href="{% url 'testimonials' %}" class="button">More testimonials</a>
                </p>
            </div>
        </div>
    </div>
    <div class="instagram">
        <h2>Follow me on instagram <a href="{{ config.instagram_url }}">@louise_m_interiors</a></h2>
        <div>
            {% for item in instagram %}
                <a href="{{ item.permalink }}">
                    <img src="{{ item.media_url }}" alt="{{ item.caption }}" title="{{ item.caption }}">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% url 'config.js' %}"></script>
    <script src="{% static "main_site/js/home-compiled.js" %}"></script>
{% endblock %}