{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ config.home_title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/home.css" %}">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ config.home_title }} | Louise Misell Interiors">
    <meta property="og:image" content="http://louisemisellinteriors.co.uk{% static "main_site/img/logo.png" %}">
    <meta property="og:description" content="{{ config.home_description }}">
    <meta name="description" content="{{ config.home_description }}">

    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'index' %}">
{% endblock %}

{% block content %}
    <div class="main-slider">
        <div class="main-slider-inner">
            <div class="slider">
                <div class="slider-inner">
                    <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                    {% for img in slider_imgs %}
                        <div class="slide{% if forloop.counter == 2 %} is-active{% endif %}">
                            <img data-src="{{ img.image.url }}" alt="{{ img.alt_text }}">
                        </div>
                    {% endfor %}
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="about">
            <div>
                {{ config.home_text|linebreaks }}
                <p>
                    <a href="{% url 'about' %}">Read more</a>
                </p>
            </div>
        </div>
        <div class="services">
            <h2>How can I help with your project?</h2>
            <div class="row">
                {% for service in services %}
                    <div class="col" itemscope itemtype="https://schema.org/Service">
                        <h3 class="step-number"><i class="fas {{ service.icon }}"></i></h3>
                        <h3 itemprop="name">{{ service.name }}</h3>
                        <link itemprop="url" href="{% url 'services' %}"/>
                        <ul itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
                            {% for s in service.service_summaries.all %}
                                <li itemprop="itemListElement">{{ s.text }}</li>
                            {% endfor %}
                            <li><a href="{% url 'services' %}">Find out more</a></li>
                        </ul>
                        <meta itemprop="description" content="{{ service.description }}">
                        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="price" content="{{ service.price }}"/>
                        </span>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>
        <div class="testimonials">
            <div class="slider">
                <div class="slider-inner">
                    <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                    {% for testimonial in testimonials %}
                        <div class="slide{% if forloop.first %} is-active{% endif %}">
                            <div class="content" itemscope itemtype="https://schema.org/Review">
                                <blockquote itemprop="reviewBody">{{ testimonial.text }}</blockquote>
                                <span class="by-line" itemprop="author">{{ testimonial.client }}</span>
                                {% if testimonial.related_project %}
                                    <link itemprop="itemReviewed"
                                          href="{% url 'project' testimonial.related_project.id %}">
                                {% else %}
                                    <link itemprop="itemReviewed" href="{% url 'contact' %}">
                                {% endif %}
                                {% if testimonial.image %}
                                    <link itemprop="image" href="{{ testimonial.image.url }}"/>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div class="portfolio">
            <h2>Recent projects</h2>
            <div class="row">
                {% for project in projects %}
                    <div class="col" itemscope itemtype="https://schema.org/CreativeWork">
                        <link itemprop="url" href="{% url 'project' project.id %}"/>
                        <a href="{% url 'project' project.id %}">
                            <div class="img-box">
                                <link itemprop="image" href="{% if project.image %}{{ project.image.url }}{% endif %}">
                                <img data-src="{% if project.image %}{{ project.image.url }}{% endif %}"
                                     alt="{{ project.image_alt_text }}">
                            </div>
                            <h3 itemprop="headline">{{ project.name }}</h3>
                            <hr>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% url 'config.js' %}"></script>
    <script src="{% static "main_site/js/home-compiled.js" %}"></script>
{% endblock %}