{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{%  static "main_site/style/home.css" %}">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Louise Misell Interiors">
    <meta property="og:image" content="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}">
    <meta property="og:description" content="{{ config.home_description }}">
    <meta name="description" content="{{ config.home_description }}">
{% endblock %}

{% block content %}
    <div class="main-slider">
        <div class="slider">
            <div class="slider-inner">
                <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                {% for img in slider_imgs %}
                <div class="slide{% if forloop.first %} is-active{% endif %}">
                    <img src="{{ img.image.url }}" alt="{{ img.alt_text }}">
                </div>
                {% endfor %}
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="services">
            <h1>How can I help with your project?</h1>
            <div class="row">
            {% for service in services %}
                <div class="col">
                    <h2 class="step-number"><i class="fas {{ service.icon }}"></i></h2>
                    <h2>{{ service.name }}</h2>
                    <ul>
                        {% for s in service.service_summaries.all %}
                            <li>{{ s.text }}</li>
                        {% endfor %}
                        <li><a href="{% url 'services' %}">Find out more</a></li>
                    </ul>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="testimonials">
            <div class="slider">
                <div class="slider-inner">
                    <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                    {% for testimonial in testimonials %}
                    <div class="slide{% if forloop.first %} is-active{% endif %}">
                        <div class="content">
                            <blockquote>{{ testimonial.text }}</blockquote>
                            <span class="by-line">{{ testimonial.client }}</span></div>
                    </div>
                    {% endfor %}
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div class="portfolio">
            <h1>Recent projects</h1>
            <div class="row">
                {% for project in projects %}
                <div class="col">
                    <a href="{% url 'project' project.id %}">
                        <div class="img-box">
                            <img src="{% if project.image %}{{ project.image.url }}{% endif %}" alt="{{ project.image_alt_text }}">
                        </div>
                        <h2>{{ project.name }}</h2>
                        <hr>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% url 'config.js' %}"></script>
    <script src="{% static "main_site/js/home-compiled.js" %}"></script>
{% endblock %}