<div class="post newsletter">
    <h3>Sign up for our newsletter</h3>
    <form action="" method="post">
        {% csrf_token %}
        {% if sent %}
            <div class="row">
                <div class="col">
                    <h4>Thank you, your email has been subscribed</h4>
                </div>
            </div>
        {% endif %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col">
                {{ form.first_name.errors }}
                {{ form.first_name }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.last_name.errors }}
                {{ form.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.email.errors }}
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    We won't bombard you with emails, absolutely no spam,
                    and you can unsubscribe at any time.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit">Sign up</button>
            </div>
        </div>
    </form>
</div>