{% extends "main_site/inc/base.html" %}
{% load static %}
{% load range %}

{% block title %}Portfolio{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{%  static "main_site/style/portfolio.css" %}">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portfolio">
    <meta property="og:image" content="{% if projects.first.image %}http://louisemisellinteriors.co.uk/{{ projects.first.image.url }}{% endif %}">
    <meta property="og:description" content="{{ config.portfolio_description }}">
    <meta name="description" content="{{ config.portfolio_description }}">
{% endblock %}

{% block content %}
    <div class="content">
        <h1>Portfolio</h1>
        <div class="row">
            {% for project in projects %}
                <div class="col" itemscope itemtype="https://schema.org/CreativeWork">
                   <link itemprop="url" href="{% url 'project' project.id %}" />
                    <a href="{% url 'project' project.id %}">
                        <div class="img-box">
                            <img itemprop="image" src="{% if project.image %}{{ project.image.url }}{% endif %}" alt="{{ project.image_alt_text }}">
                        </div>
                        <h2 itemprop="headline">{{ project.name }}</h2>
                        <hr>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            {% for i in projects|length|mod:4|range %}
                <div class="col"></div>
            {% endfor %}
            </div>
    </div>
{% endblock %}