{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ config.portfolio_title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/portfolio.css" %}">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ config.portfolio_title }} | Louise Misell Interiors">
    <meta property="og:image"
          content="{% if projects.first.image %}http://louisemisellinteriors.co.uk/{{ projects.first.image.url }}{% endif %}">
    <meta property="og:description" content="{{ config.portfolio_description }}">
    <meta name="description" content="{{ config.portfolio_description }}">

    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'portfolio' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <header {% if config.portfolio_header_image %}style="--background: url({{ config.portfolio_header_image.url }});"{% endif %}>
            <h1>Portfolio</h1>
        </header>
        <div class="desc">
            {{ config.portfolio_text|linebreaks }}
        </div>
        <div class="projects">
            {% for project in projects %}
                <div class="project" itemscope itemtype="https://schema.org/CreativeWork">
                    <link itemprop="url" href="{% url 'project' project.id %}"/>
                    <a href="{% url 'project' project.id %}">
                        <div class="img-box">
                            <link itemprop="image" href="{% if project.image %}{{ project.image.url }}{% endif %}">
                            <img data-src="{% if project.image %}{{ project.image.url }}{% endif %}"
                                 alt="{{ project.image_alt_text }}">
                            <div class="show">
                                <h2 itemprop="headline">{{ project.name }}</h2>
                                <hr>
                                <h3>{{ project.area }}</h3>
                            </div>
                        </div>
                        <meta itemprop="text" content="{{ project.breif }}">
                        <meta itemprop="text" content="{{ project.outcome }}">
                        {% for img in project.before_images.all %}
                            <span itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <link itemprop="contentUrl" href="{% if img.image %}{{ img.image.url }}{% endif %}"/>
                                <meta itemprop="description" content="{{ img.alt_text }}"/>
                            </span>
                        {% endfor %}
                        {% for img in project.after_images.all %}
                            <span itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <link itemprop="contentUrl" href="{% if img.image %}{{ img.image.url }}{% endif %}"/>
                                <meta itemprop="description" content="{{ img.alt_text }}"/>
                            </span>
                        {% endfor %}
                    </a>
                </div>
            {% endfor %}
            </div>
    </div>
{% endblock %}