{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/project.css" %}">

    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ project.name }} | Louise Misell Interiors">
    <meta property="og:description" content="{{ project.meta_description }}">
    <meta name="description" content="{{ project.meta_description }}">
    <meta property="og:image"
          content="http://louisemisellinteriors.co.uk/{% if project.image %}{{ project.image.url }}{% endif %}">

    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'project' project.id %}">
{% endblock %}

{% block content %}
    <div class="content" itemscope itemtype="https://schema.org/CreativeWork">
        {% if project.image %}
            <link itemprop="image" href="{{ project.image.url }}">
        {% endif %}
        <header {% if project.header_image %}style="--background: url({{ project.header_image.url }});"{% endif %}>
            <div>
                <h1 itemprop="headline">{{ project.name }}</h1>
                <h2>{{ project.area }}</h2>
                <h3>hover over an image to see the 'before' picture</h3>
            </div>
        </header>
        <div class="credits">
            {{ project.photography_credits }}
        </div>
        <div class="grid">
            {% for item in project.items.all %}
                <div class="type-{{ item.type }}"
                     style="grid-column-end: span {{ item.width }}; grid-row-end: span {{ item.height }};">
                    {% if item.type == "I" %}
                        {% if item.image %}
                            <img src="{{ item.image.url }}" alt="{{ item.image_alt_text }}">
                        {% endif %}
                        {% if item.hover_image %}
                            <img class="hover" src="{{ item.hover_image.url }}"
                                 alt="{{ item.hover_image_alt_text }}" data-pin-nopin="true">
                        {% endif %}
                    {% elif item.type == "T" %}
                        {{ item.text|linebreaks }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <h2>See more of my work below</h2>
        {% include 'main_site/portfolio_template.html' with projects=projects %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "main_site/js/project.js" %}"></script>
{% endblock %}
