{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{%  static "main_site/style/project.css" %}">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ project.name }}">
    <meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% if project.image %}{{ project.image.url }}{% endif %}">
{% endblock %}

{% block content %}
    <div class="content">
        <h1>{{ project.name }}</h1>
        <div class="row">
            <div class="col before">
                <h2>Before</h2>
                <div class="imgs">
                    <div class="slider">
                        <div class="slider-inner">
                            <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                            {% for img in project.before_images.all %}
                                <div class="slide{% if forloop.first %} is-active{% endif %}">
                                    <img src="{{ img.image.url }}" alt="{{ img.alt_text }}">
                                </div>
                            {% endfor %}
                            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col after">
                <h2>After</h2>
                <div class="imgs">
                    <div class="slider">
                        <div class="slider-inner">
                            <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                            {% for img in project.after_images.all %}
                                <div class="slide{% if forloop.first %} is-active{% endif %}">
                                    <img src="{{ img.image.url }}" alt="{{ img.alt_text }}">
                                </div>
                            {% endfor %}
                            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Credits: {{ project.photography_credits }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Brief</h2>
                {{ project.breif|linebreaks }}
            </div>
            <div class="col">
                <h2>Outcome</h2>
                {{ project.outcome|linebreaks }}
            </div>
        </div>
    </div>
{% endblock %}