{% include "main_site/inc/header.html" with page_css="main_site/style/services.css" %}
    <div class="content">
        <h1>Services</h1>
        <div class="steps">
            <h1>How can I help with your project?</h1>
            {% for service in services %}
                <div class="row">
                    {% for s in service %}
                        {% if s %}
                            <div class="step col">
                                <h2 class="step-number"><i class="fas {{ s.icon }}"></i></h2>
                                <h2>{{ s.name }}</h2>
                                {{ s.description|linebreaks }}
                                {% if s.price %}<h2>{{ s.price }}</h2>{% endif %}
                                {% if forloop.parentloop.first %}<h3><a href="{% url 'contact' %}#book">Book online here</a></h3>{% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% include "main_site/inc/footer.html" %}