{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ config.services_title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/services.css" %}">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ config.services_title }} | Louise Misell Interiors">
    <meta property="og:image" content="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}">
    <meta property="og:description" content="{{ config.services_description }}">
    <meta name="description" content="{{ config.services_description }}">

    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'services' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <header {% if config.services_header_image %}style="--header-background: url({{ config.services_header_image.url }});"{% endif %}>
            <h1>Services</h1>
        </header>
        <div class="bar">
            {{ config.services_text|safe }}
            <a href="{% if config.services_cta_link %}{{ config.services_cta_link }}{% else %}{% url 'contact' %}{% endif %}" class="button">{{ config.services_cta }}</a>
        </div>
        <div class="services">
            {% for service in services %}
                {% if service.group %}
                    <div class="service-block">
                    <div class="title">
                    <h2>{{ service.group.name }}</h2>
                    {% if service.group.description %}
                        <p>{{ service.group.description }}</p>
                    {% endif %}
                    </div>
                {% endif %}
                {% with service.service as service %}
                    <div class="service" itemscope itemtype="https://schema.org/Service">
                        {% if service.image %}
                            <img src="{{ service.image.url }}" alt="{{ service.name }}">
                        {% endif %}
                        <div class="colour-block"></div>
                        <h3 itemprop="name">{{ service.name }}</h3>
                        <span itemprop="description" class="description">
                          {{ service.description|linebreaks }}
                        </span>
                        {% if service.price %}
                            <h3 class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <span itemprop="price">{{ service.price }}</span>
                                <span class="buttons">
                                {% for button in service.buttons.all %}
                                    <a href="



                                            {% if button.button_url %}{{ button.button_url }}{% else %}{% url 'contact' %}{% endif %}"
                                       class="button">
                                        <span>{{ button.button_text }}</span>
                                    </a>
                                {% endfor %}
                                </span>
                            </h3>
                        {% endif %}
                        <span itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog"
                              style="display: none;">
                            {% for summary in service.service_summaries.all %}
                                <meta itemprop="itemListElement" content="{{ summary.text }}"/>
                            {% endfor %}
                        </span>
                    </div>
                {% endwith %}
                {% if service.last_group %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="testimonials">
            <div class="content" itemscope itemtype="https://schema.org/Review">
                <blockquote itemprop="reviewBody">{{ testimonial.text }}</blockquote>
                <span class="by-line" itemprop="author">{{ testimonial.client }}</span>
                {% if testimonial.related_project %}
                    <link itemprop="itemReviewed"
                          href="{% url 'project' testimonial.related_project.id %}">
                {% else %}
                    <link itemprop="itemReviewed" href="{% url 'contact' %}">
                {% endif %}
                {% if testimonial.image %}
                    <link itemprop="image" href="{{ testimonial.image.url }}"/>
                {% endif %}
                <p>
                    <a href="{% if config.services_testimonials_cta_link %}{{ config.services_testimonials_cta_link }}{% else %}{% url 'testimonials' %}{% endif %}" class="button">{{ config.services_testimonials_cta }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
