{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}Services{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{%  static "main_site/style/services.css" %}">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Services">
    <meta property="og:image" content="http://louisemisellinteriors.co.uk/{% static "main_site/img/logo.png" %}">
    <meta property="og:description" content="{{ config.services_description }}">
    <meta name="description" content="{{ config.services_description }}">
{% endblock %}

{% block content %}
<div class="content">
        <h1>Services</h1>
        <div class="steps">
            <h1>How can I help with your project?</h1>
            {% for service in services %}
                <div class="row">
                    {% for s in service %}
                        {% if s %}
                            <div class="step col">
                                <h2 class="step-number"><i class="fas {{ s.icon }}"></i></h2>
                                <h2>{{ s.name }}</h2>
                                {{ s.description|linebreaks }}
                                {% if s.price %}<h2>{{ s.price }}</h2>{% endif %}
                                {% if forloop.parentloop.first %}
                                    <h3><a href="{% url 'contact' %}#book">Book online here</a></h3>
                                {% elif forloop.last %}
                                    <h3><a href="{% url 'contact' %}">Get in touch here</a></h3>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}