{% extends "main_site/inc/base.html" %}
{% load static %}

{% block title %}{{ config.testimonials_title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "main_site/style/testimonials.css" %}">

    <meta property="og:title" content="{{ config.testimonials_title }} | Louise Misell Interiors">
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://louisemisellinteriors.co.uk
            {% if testimonials.first.image %}{{ testimonials.first.image.url }}{% endif %}">
    <meta property="og:description" content="{{ config.testimonials_description }}">
    <meta name="description" content="{{ config.testimonials_description }}">


    <link rel="canonical" href="https://louisemisellinteriors.co.uk{% url 'testimonials' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <header>
            <h1>Testimonials</h1>
            <div class="desc">
                {{ config.testimonials_text|linebreaks }}
            </div>
        </header>
        {% for testimonial in testimonials %}
            <div class="testimonial" itemscope itemtype="https://schema.org/Review"
                 {% if testimonial.image %}style="--background: url({{ testimonial.image.url }})"{% endif %}>
                    <blockquote itemprop="reviewBody">{{ testimonial.text }}</blockquote>
                    <h2 class="by-line" itemprop="author">{{ testimonial.client }}</h2>
                    {% if testimonial.related_project %}
                        <a itemprop="itemReviewed" class="button" href="{% url 'project' testimonial.related_project.id %}">
                            See project
                        </a>
                    {% else %}
                        <link itemprop="itemReviewed" href="{% url 'contact' %}">
                    {% endif %}
                    {% if testimonial.image %}<link itemprop="image" href="{{ testimonial.image.url }}">{% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}