\{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "59bcdsw0gg");
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WGT5574');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122537706-1"></script>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Louise Misell Interiors</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}">-->
    <link rel="stylesheet" href="{% static "main_site/style/style.css" %}">
    <link rel="stylesheet" href="{% static "main_site/style/shadow.css" %}">

    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="{% static "main_site/favicon/apple-touch-icon-57x57.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static "main_site/favicon/apple-touch-icon-114x114.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static "main_site/favicon/apple-touch-icon-72x72.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static "main_site/favicon/apple-touch-icon-144x144.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="{% static "main_site/favicon/apple-touch-icon-60x60.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="{% static "main_site/favicon/apple-touch-icon-120x120.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="{% static "main_site/favicon/apple-touch-icon-76x76.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{% static "main_site/favicon/apple-touch-icon-152x152.png" %}"/>
    <link rel="icon" type="image/png" href="{% static "main_site/favicon/favicon-196x196.png" %}" sizes="196x196"/>
    <link rel="icon" type="image/png" href="{% static "main_site/favicon/favicon-96x96.png" %}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{% static "main_site/favicon/favicon-32x32.png" %}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{% static "main_site/favicon/favicon-16x16.png" %}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{% static "main_site/favicon/favicon-128.png" %}" sizes="128x128"/>
    <meta name="application-name" content="Louise Misell Interiors"/>
    <meta name="theme-color" content="#e5f0f2"/>
    <meta name="msapplication-TileColor" content="#e5f0f2"/>
    <meta name="msapplication-TileImage" content="{% static "main_site/favicon/mstile-144x144.png" %}"/>
    <meta name="msapplication-square70x70logo" content="{% static "main_site/favicon/mstile-70x70.png" %}"/>
    <meta name="msapplication-square150x150logo" content="{% static "main_site/favicon/mstile-150x150.png" %}"/>
    <meta name="msapplication-wide310x150logo" content="{% static "main_site/favicon/mstile-310x150.png" %}"/>
    <meta name="msapplication-square310x310logo" content="{% static "main_site/favicon/mstile-310x310.png" %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:site_name" content="Louise Misell Interiors">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="p:domain_verify" content="47d6e3bc25b7c7319e37d50f06c74c81"/>
    <meta name="msvalidate.01" content="6F0C73A426593D8B24D968C91F861B46"/>

    {% block header %}
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGT5574"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="top"></div>
<div class="wrapper">
    {% if config.banner_enabled %}
        <div class="top-banner">
            {% if config.banner_link %}
                <a href="{{ config.banner_link }}">
            {% endif %}
                <div class="top-banner-inner">
                    {{ config.banner_text|safe }}
                </div>
            {% if config.banner_link %}
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div class="nav" role="navigation">
        <div class="logo" role="presentation">
            <a href="{% url 'index' %}" aria-label="Go home">
                <img data-pin-nopin="true" src="{% static "main_site/img/logo.png" %}" alt="Interior designer Cardiff"
                     role="presentation">
            </a>
        </div>
        <nav>
            {% url 'index' as home_url %}
            {% url 'about' as about_url %}
            {% url 'portfolio' as portfolio_url %}
            {% url 'testimonials' as testimonials_url %}
            {% url 'design_insider' as blog_url %}
            {% url 'services' as services_url %}
            {% url 'contact' as contact_url %}
            {% url 'shop_index' as shop_url %}
            {% url 'shop_basket' as basket_url %}
            <a href="{{ home_url }}" {% if request.get_full_path == home_url %}class="is-active"{% endif %}>Home</a>
            <a href="{{ about_url }}" {% if request.get_full_path == about_url %}class="is-active"{% endif %}>About</a>
            <a href="{{ services_url }}" {% if request.get_full_path == services_url %}class="is-active"{% endif %}>Services</a>
            <a href="{{ portfolio_url }}" {% if request.get_full_path == portfolio_url %}class="is-active"{% endif %}>Portfolio</a>
            <a href="{{ blog_url }}" {% if request.get_full_path == blog_url %}class="is-active"{% endif %}>Blog</a>
            <a href="{{ blog_url }}#posts" class="subitem">Blog posts</a>
            <a href="{{ blog_url }}#short-posts" class="subitem">Updates</a>
            <a href="{{ testimonials_url }}"
               {% if request.get_full_path == testimonials_url %}class="is-active"{% endif %}>Testimonials</a>
            <a href="{{ shop_url }}" {% if request.get_full_path == shop_url %}class="is-active"{% endif %}>Shop</a>
            <a href="{{ contact_url }}" {% if request.get_full_path == contact_url %}class="is-active"{% endif %}>Contact</a>
            {% if basket %}
                <a href="{{ basket_url }}" {% if request.get_full_path == basket_url %}class="is-active"{% endif %}>
                    <i class="fal fa-shopping-basket"></i>&nbsp;<span id="basket-quantity">{{ basket.item_quantity }}</span>
                </a>
            {% endif %}
        </nav>
        <div class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div class="pre-footer">
        <div class="socials">
            <a href="{{ config.instagram_url }}" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="{{ config.twitter_url }}" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="{{ config.pintrest_url }}" target="_blank"><i class="fab fa-pinterest-p fa-lg"></i></a>
            <a href="{{ config.facebook_url }}" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
            <a href="{{ config.linkedin_url }}" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
            <a href="{{ config.houzz_url }}" target="_blank"><i class="fab fa-houzz fa-lg"></i></a>
        </div>
        <div class="logos">
            <div>
                <a href="https://www.amara.com/content/interior-blog-awards">
                    <img src="{% static "main_site/img/amara.png" %}" alt="Amara Blog Awards Finalist">
                </a>
                <a href="https://www.amara.com/interior-blog-awards">
                    <img src="{% static "main_site/img/amara-2020.png" %}">
                </a>
                <img src="{% static "main_site/img/interior_designers-cardiff-2019-clr.svg" %}" width="200" alt="Top 3 Interior Designer in Cardiff 2019">
                <img src="{% static "main_site/img/interior_designers-cardiff-2020-clr.svg" %}" width="200" alt="Top 3 Interior Designer in Cardiff 2020">
                <img src="{% static "main_site/img/interior_designers-cardiff-2021-clr.svg" %}" width="200" alt="Top 3 Interior Designer in Cardiff 2021">
                <img src="{% static "main_site/img/interior_designers-cardiff-2022-clr.svg" %}" width="200" alt="Top 3 Interior Designer in Cardiff 2022">
                <a href="{% url 'diversity_for_design' %}">
                    <img src="{% static "main_site/img/design-for-diversity.svg" %}" alt="Design for Diversity">
                </a>
                <img src="{% static "main_site/img/cl-awards-winner.jpg" %}" alt="Cardiff Life Awards Winner 2022"
                     data-pin-nopin="true">
            </div>
            <div>
                <img src="{% static "main_site/img/cag-logo.png" %}" alt="City & Guilds logo" data-pin-nopin="true">
                <img src="{% static "main_site/img/sbid-accredited.png" %}" alt="SBID Accredited Designer"
                     data-pin-nopin="true">
                <img src="{% static "main_site/img/baid-logo.png" %}" alt="British Academy of Interior Design logo"
                     data-pin-nopin="true">
                <a href="http://www.fsb.org.uk" title="Visit FSB's website">
                    <img src="{% static "main_site/img/fsb-logo.png" %}" alt="Federation of Small Businesses logo"
                         data-pin-nopin="true">
                </a>
                <img src="{% static 'main_site/img/CPA 2022 footer.png' %}" alt="Cardiff Property Awards Finalist 2022"
                     data-pin-nopin="true">
                <img src="{% static "main_site/img/CLA_Finalist_1.png" %}" alt="Cardiff Life Awards Finalist"
                     data-pin-nopin="true">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col">
                <a target="_blank" href="{% if config.privacy_policy %}{{ config.privacy_policy.url }}{% endif %}">
                    Privacy Policy
                </a>
            </div>
            <div class="col">
                &copy; Louise Misell Interiors Ltd {% now "Y" %}.<br/>
                Company registration &#x2116; 13272519.<br/>
                VAT registration &#x2116; 419515100.
            </div>
            <div class="col">
                <a target="_blank"
                   href="{% if config.terms_and_conditions %}{{ config.terms_and_conditions.url }}{% endif %}">
                    Terms &amp; Conditions
                </a>
            </div>
        </div>
    </div>
</div>
<div id="scroll-top">
    <a href="#top">
        <i class="fas fa-chevron-up"></i>
    </a>
</div>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "@id": "https://louisemisellinteriors.co.uk",
  "currenciesAccepted": "GBP",
  "name": "Louise Misell Interiors",
  "legalName": "Louise Misell Interiors Ltd",
  "duns": "227793268",
  "url": "https://louisemisellinteriors.co.uk{% url 'index' %}",
  "logo": "{% static "main_site/img/logo.png" %}",
  "image": "{% static "main_site/img/IMG_2220 adjusted.jpg" %}",
  "description": "{{ config.home_description }}",
  "address": "{{ config.address }}",
  "email": "{{ config.email }}",
  "telephone": "{{ config.phone.as_e164 }}",
  "priceRange": "{{ config.price_range }}",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "{{ config.phone.as_e164 }}",
    "contactType": "sales"
  },{
    "@type": "ContactPoint",
    "telephone": "{{ config.mobile.as_e164 }}",
    "contactType": "sales"
  }],
  "sameAs": [
    "{{ config.instagram_url }}",
    "{{ config.twitter_url }}",
    "{{ config.pintrest_url }}",
    "{{ config.facebook_url }}",
    "{{ config.linkedin_url }}",
    "{{ config.houzz_url }}",
    "{{ config.homify_url }}"
  ]
}

</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/0b7426adea00f73189b821c1a/cf1d49ef595f5771b1dc0d454.js");</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '550468805795101');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=550468805795101&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static "main_site/js/lazysizes.min.js" %}"></script>
<script src="{% static "main_site/js/main-compiled.js" %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
