<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Louise Misell Interiors</title>

    {% load static %}

    <link rel="stylesheet" href="{% static "main_site/style/style.css" %}">

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:site_name" content="Louise Misell Interiors">
    <meta name="twitter:card" content="summary_large_image">

    {% block header %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="nav">
        <nav class="nav-left">
            <div class="logos">
                <img src="{% static "main_site/img/cag-logo.png" %}" alt="">
                <img src="{% static "main_site/img/baid-logo.png" %}" alt="">
            </div>
            {% url 'index' as home_url %}
            {% url 'about' as about_url %}
            {% url 'portfolio' as portfolio_url %}
            <div>
                <a href="{{ home_url }}" {% if request.get_full_path == home_url %}class="is-active"{% endif %}>Home</a>
                <a href="{{ about_url }}" {% if request.get_full_path == about_url %}class="is-active"{% endif %}>About</a>
                <a href="{{ portfolio_url }}" {% if request.get_full_path == portfolio_url %}class="is-active"{% endif %}>Portfolio</a>
            </div>
        </nav>
        <div class="logo">
            <img src="{% static "main_site/img/logo.png" %}" alt="">
        </div>
        <nav class="nav-right">
            {% url 'services' as services_url %}
            {% url 'testimonials' as testimonials_url %}
            {% url 'contact' as contact_url %}
            <div>
                <a href="{{ services_url }}" {% if request.get_full_path == services_url %}class="is-active"{% endif %}>Services</a>
                <a href="{{ testimonials_url }}" {% if request.get_full_path == testimonials_url %}class="is-active"{% endif %}>Testimonials</a>
                <a href="{{ contact_url }}" {% if request.get_full_path == contact_url %}class="is-active"{% endif %}>Contact</a>
            </div>
            <div class="socials">
                <a href="{{ config.instagram_url }}" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="{{ config.pintrest_url }}" target="_blank"><i class="fab fa-pinterest fa-lg"></i></a>
                <a href="{{ config.facebook_url }}" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="{{ config.linkedin_url }}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="{{ config.houzz_url }}" target="_blank"><i class="fab fa-houzz fa-lg"></i></a>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div class="row">
            <div class="col">
                <a href="{% if config.privacy_policy %}{{ config.privacy_policy.url }}{% endif %}">Privacy Policy</a>
            </div>
            <div class="col">
                &copy; Louise Misell Interiors {% now "Y" %}
            </div>
            <div class="col">
                <a href="{% if config.terms_and_conditions %}{{ config.terms_and_conditions.url }}{% endif %}">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static "main_site/js/main-compiled.js" %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>