    <div class="footer">
        <div class="row">
            <div class="col">
                <a href="{% if config.privacy_policy %}{{ config.privacy_policy.url }}{% endif %}">Privacy Policy</a>
            </div>
            <div class="col">
                &copy; Louise Misell Interiors {% now "Y" %}
            </div>
            <div class="col">
                <a href="{% if config.terms_and_conditions %}{{ config.terms_and_conditions.url }}{% endif %}">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</div>
    {%  load static %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static "main_site/js/main-compiled.js" %}"></script>
{% if page_js %}
<script src="{%  static page_js %}"></script>
{% endif %}
</body>
</html>