@import "variables";

form {
  font-family: "Raleway", serif;
}

.form {
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: $content-padding/2;
    margin: 0;
    border: 2px solid $background-colour;
    padding: 0 $content-padding $content-padding;

    > div {
      text-align: left;
      font-size: 20px;
    }

    label {
      font-size: 20px;
      color: $background-colour-dark;
      display: inline-block;
    }

  }
}

.errorlist {
  margin: 0;
  padding: 0;
  text-align: left;
  color: red;

  li {
    list-style: none;
  }
}

input[type=radio] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 0.6em;
  height: 0.6em;
  border: 0.1em solid currentcolor;
  border-radius: 50%;
  display: inline-grid;
  place-content: center;
  margin: 15px 0 0 10px;
  transform: translateY(-0.15em);
}

input[type="radio"]::before {
  content: "";
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $background-colour-dark;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input:not([type=radio]), textarea, button, .input-like, select {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 20px;
  background: $background-colour;
  display: inline-block;
  font-family: "Raleway", serif;
  color: $background-colour-dark;

  @media (max-width: $media-small) {
    margin: 0;
  }

  &[type="checkbox"] {
    width: initial;
  }

  p {
    font-size: 20px !important;
    text-align: left;
    color: #6a6f70;
  }
}

input:not([type=radio])::placeholder, textarea::placeholder, select::placeholder {
  color: $background-colour-dark;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.input-like p {
  margin-top: 0;
  text-align: left !important;
}

.input-like div:not(.StripeElement) {
  margin-bottom: 10px;
}

button {
  color: $light-text-colour;
  background: $background-colour-dark;
  font-size: 20px;
  width: auto;
  justify-self: center;
  min-width: 30%;
}

.pac-container {
  background: $background-colour;
  font-family: "Raleway", serif;

  &.pac-logo:after {
    display: none;
  }

  .pac-item {
    border: none;
    padding: $content-padding/2;
    font-size: 17px;

    .pac-item-query {
      font-size: 17px;
    }

    .pac-icon {
      display: none;
    }
  }
}