@import "variables";

input:not([type=radio]), textarea, button, .input-like {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 20px;
  background: $background-colour;

  @media (max-width: $media-small) {
    margin: 0;
  }

  &[type="checkbox"] {
    width: initial;
  }
}

.input-like p {
   margin-top: 0;
  text-align: left;
}

button {
  color: $light-text-colour;
  background: $background-colour-dark;
  font-size: 20px;
  width: auto;
  justify-self: center;
  min-width: 30%;
}