@import "variables";

.instagram {
  padding: $content-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;

  h2 {
    text-align: center;
    font-weight: normal;

    a {
      color: $background-colour-dark;

      &:hover {
        color: lighten($background-colour-dark, 20%);
      }
    }
  }

  > div {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15vw);
    justify-content: center;
    align-items: center;
    grid-gap: $content-padding/2;
    grid-auto-rows: 15vw;
    
    @media (max-width: $media-small) {
      grid-template-columns: repeat(auto-fill, 38vw);
      grid-auto-rows: 38vw;
    }

    @media (max-width: $media-xsmall) {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
    }

    a {
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}