@import "variables";
@import "bar";

@mixin mobile-nav {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  padding-bottom: 6px;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: visibility .5s, opacity .5s;

  a {
    display: table;
    margin: 0 auto;
    color: #fff;
  }
}

.nav {
  height: $nav-height;
  background: $background-colour;
  padding: $content-padding $content-padding 0;
  margin-bottom: $content-padding;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 10vw $nav-height 1fr;

  .logo {
    height: 100%;
    grid-column: 2;

    img {
      max-width: 100%;
      max-height: 100%;

      pointer-events: all;
    }
  }

  nav {
    transform: translateY(-$content-padding/2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
    grid-column: 3;

    a {
      $link-margin: 15px;
      margin: 0 $link-margin;
      text-decoration: none;
      color: $background-colour-dark;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include bar;

      &::after {
        width: 0;
        opacity: 0;
      }

      &:not(.is-active):hover::after {
        width: 100%;
        opacity: 1;
      }

      &.is-active {
        color: lighten($background-colour-dark, 20%);
      }

      &::before {
        content: "";
        border-right: 1px solid $primary-colour;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -$link-margin;
      }

      &:last-of-type::before {
        display: none;
      }
    }
  }
  .nav-left {
    @media (max-width: $media-xsmall) {
      @include mobile-nav;
      top: 0;
    }
  }
  .nav-right {
    @media (max-width: $media-xsmall) {
      @include mobile-nav;
    }
  }

  .menu-button {
    content: "\f0c9";
    position: absolute;
    z-index: 999;
    left: $content-padding/2;
    top: 0;
    color: $primary-colour;
    font-size: 50px;
    font-weight: 900;
    display: none;
  }

  @media (max-width: $media-xsmall) {
    &:not(.show-menu) {
      .nav-left {
        visibility: hidden;
        opacity: 0;
      }
      .nav-right {
        visibility: hidden;
        opacity: 0;
      }
    }

    .menu-button {
      display: block;
    }
  }
}
