.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  width: 70vw;
  align-self: center;
  grid-gap: $content-padding $content-padding*3;

  @media (max-width: $media-small) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @media (max-width: $media-xsmall) {
    width: 100vw;
  }

  .project {
    a {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    h2, h3 {
      color: $dark-text-colour;
      text-align: center;
    }

    hr {
      border-color: $dark-text-colour;
      margin-top: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      flex-grow: 1;
      object-fit: cover;
    }
  }
}