@import "variables";

#quiz-wrapper {
  margin: $content-margin auto;
  max-width: 900px;
  border: 3px solid $background-colour;
  padding: $content-padding;
  text-align: center;

  .loader {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .StartPage {
  }

  .StepPage {
    .StepAnswer {
      border: 5px solid $background-colour;

      &.AnswerSelected {
        background: $background-colour-dark;
        border-color: $background-colour-dark;
        color: #fff;
      }

      &:hover {
        background: $background-colour;
        color: #000;
      }
    }

    .StepAnswers.StepRadio {
      .StepAnswer {
        padding: $content-padding/2;
        margin: $content-padding/2;
      }
    }

    .StepAnswers.StepMoodBoard {
      column-count: 3;
      column-gap: $content-padding;

      .StepAnswer {
        cursor: pointer;
        margin-bottom: $content-padding;
        border-color: transparent;
        position: relative;

        &:hover {
          border-color: $background-colour;
        }

        &.AnswerSelected::before {
          display: block;
          content: " ";
          background: transparentize($background-colour, 0.5);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        &.AnswerSelected::after {
          display: block;
          content: " ";
          background-image: url(../img/tick.svg);
          background-position: 50% 50%;
          background-size: 100px;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        img {
          display: block;
        }
      }
    }

    .StepAnswers.StepImageGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: $content-padding;

      .StepAnswer {
        padding: $content-padding/2;
        display: flex;
        flex-direction: column;

        img {
          flex-grow: 1;
          object-fit: cover;
        }
      }
    }
  }
}