@import "variables";

#quiz-wrapper {
  margin: 20px;
  border: 3px solid $background-colour-dark;
  background-color: $background-colour;
  padding: $content-padding/2;
  background-clip: content-box;
  text-align: center;
  color: $dark-text-colour;

  @media (max-width: $media-small) {
    margin: 20px 0;
  }


  > * {
    padding: $content-padding/2;
  }

  h2 {
    font-size: 36px;
  }

  .button {
    font-size: 32px;
  }

  .loader {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .StartPage {
    .form {
      max-width: 700px;
      margin: $content-margin auto;

      input {
        border: 3px solid $background-colour-dark;
      }
    }
  }

  .StepPage {
    .QuestionText {
      margin-bottom: $content-margin*2;
    }

    .StepAnswers.StepRadio {
      .StepAnswer {
        padding: $content-padding/2;
        margin: $content-padding/2;
        display: grid;
        background-color: $background-colour-dark;
        color: $light-text-colour;
        align-items: center;
        justify-items: center;
        grid-gap: $content-padding;
        grid-template-columns: 1fr auto;

        button {
          border: 3px solid $background-colour;
        }

        button.AnswerSelected {
          background: $background-colour;
          color: $dark-text-colour;
        }

        .text {
          align-self: stretch;
          justify-self: stretch;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            grid-column: 1;
            grid-row: 1;
            font-size: 32px;
          }
        }

        img {
          grid-column: 2;
          grid-row: 1;
        }

        @media (max-width: $media-medium) {
          grid-template-columns: 1fr 1fr;
        }

        @media (max-width: $media-small) {
          grid-template-columns: 1fr;

          img {
            grid-column: 1;
            grid-row: 1;
          }
        }

        @media (max-width: $media-xsmall) {
          margin: $content-padding/2 -$content-padding/2;
        }
      }
    }

    .StepAnswers.StepMoodBoard {
      column-count: 3;
      column-gap: $content-padding;

      @media (max-width: $media-small) {
        column-count: 1;
      }

      .StepAnswer {
        cursor: pointer;
        border-color: transparent;
        position: relative;
        display: inline-flex;
        margin-bottom: 25px;

        &.AnswerSelected {
          background: $background-colour-dark;
          border-color: $background-colour-dark;
          color: #fff;
        }

        &:hover {
          background: $background-colour;
          border-color: $background-colour;
          color: #000;
        }

        &.AnswerSelected::before {
          display: block;
          content: " ";
          background: transparentize($background-colour, 0.5);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        &.AnswerSelected::after {
          display: block;
          content: " ";
          background-image: url(../img/tick.svg);
          background-position: 50% 50%;
          background-size: 100px;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        img {
          display: block;
        }
      }
    }

    .StepAnswers.StepImageGrid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-gap: $content-padding;
      max-width: 1500px;
      margin: 0 auto;

      .StepAnswer {
        padding: $content-padding/2;
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: $content-padding;

        img {
          flex-grow: 1;
          object-fit: cover;
        }

        &:hover .text {
          background: $background-colour-dark;
          color: $light-text-colour;
        }

        &.AnswerSelected .text {
          background: $background-colour-dark;
          color: $light-text-colour;
        }
      }
    }
  }
}