@import "variables";
@import "bar";

.services {
  width: 80%;
  margin: 0 auto;
  padding-top: 0 !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: $column-gutter;

  div {
    padding: $content-padding;
    background: $background-colour;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


    h3 {
      text-align: center;
      margin: $content-padding/2 0;
      font-size: 25px;

      &.step-number {
        font-size: 50px;
        font-weight: bold;
        margin: 0;
      }
    }

    div {
      list-style: none;
      display: grid;
      padding: 0;
      grid-auto-rows: minmax(min-content, max-content);

      span {
        text-align: center;
        padding: 10px 0;
        margin-bottom: 8px;
        @include bar;

        &::after {
          width: 30%;
        }

        &:first-of-type {
          @include bar_top;

          &::before {
            width: 30%;
          }
        }
      }
    }

    a {
      font-size: 22px;
      border-color: $background-colour-dark;
      color: $background-colour-dark;
      display: inline-block;
      margin: 10px;
    }
  }
}