@import "variables";
@import "bar";

.services {
  width: 80%;
  margin: 0 auto;
  padding-top: 0 !important;

  > h2 {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 35px;
    @include bar;
    @include inline-header;
  }

  .row {
    .col {
      padding: $content-padding;
      background: #eee;
      margin: $column-gutter;
      position: relative;

      h3 {
        text-align: center;
        margin: $content-padding/2 0;
        font-size: 25px;

        &.step-number {
          font-size: 50px;
          font-weight: bold;
          margin: 0;
        }
      }

      ul {
        list-style: none;
        padding: 0 0 35px;

        li {
          text-align: center;
          padding: $content-padding/2;

          @include bar;

          &::after {
            width: 30%;
          }

          &:first-of-type {
            @include bar_top;
            &::before {
              width: 30%;
            }
          }

          &:last-of-type {
            font-weight: bold;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
          }
        }
      }
    }
  }
}