@import "variables";
@import "bar";

.services {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: $content-padding*2;

  @media (max-width: $media-medium) {
      grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $media-small) {
      width: 100%;
      grid-template-columns: 1fr;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3, div {
      padding: 0 $content-padding;
    }

    h3 {
      text-align: center;
      margin: $content-padding 0;
      font-size: 25px;
      font-weight: normal;
      font-family: Raleway, sans-serif;
    }

    > div {
      padding: $content-padding 0;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      background: #eff4f6;
      justify-content: space-between;

      div {
        list-style: none;
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);

        span {
          text-align: center;
          padding: 10px 0;
          margin-bottom: 8px;
          @include bar;

          &::after {
            width: 30%;
          }
        }
      }

      a {
        font-size: 22px;
        background: $background-colour-dark;
        border: none;
        color: $light-text-colour;
        display: inline-block;
        margin-top: 10px;
      }
    }
  }
}