@import "variables";

@function clamp($number, $min, $max) {
  @return min(max($number, $min), $max);
}

@mixin slider($slide-width, $slide-cover) {
  .slider {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .slider-inner {
      perspective: 5px;
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      position: relative;

      $slide-offset: (100 - $slide-width) / 2;

      .slide {
        position: absolute;
        width: $slide-width;
        height: 100%;
        transform: translateZ(-2px);
        left: - ($slide-width - $slide-offset) + $slide-cover;
        transition: height $medium-transition, transform $medium-transition, left $medium-transition;

        &.is-active {
          left: $slide-offset;
          transform: translateY(0) translateZ(0);
        }

        &.is-active ~ .slide {
          left: $slide-width + $slide-offset - $slide-cover;
          display: none;
        }

        &.is-active + .slide {
          display: block;
        }

        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }

        .slide-text {
          position: absolute;
          z-index: 1;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          background: linear-gradient(rgba($background-colour, .6), rgba($background-colour, .6));
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: $content-padding;
        }
      }

      .arrow {
        font-size: 30px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 15px 10px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: $slide-offset;
        z-index: 99;
        transition: opacity $fast-transition;

        &:hover {
          opacity: 1;
        }
      }

      .arrow:last-of-type {
        right: $slide-offset;
        left: unset;
        transform: translateY(-50%);
      }
    }
  }
}