@import "variables";

@function _clamp($number, $min, $max) {
  @return min(max($number, $min), $max);
}

@mixin slider($slide-width, $slide-cover) {
  .slider {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      transition: opacity $medium-transition;
      opacity: 0;
      pointer-events: none;

      &.is-active {
        opacity: 1;
        pointer-events: auto;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      .slide-text {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: linear-gradient(rgba($background-colour, .6), rgba($background-colour, .6));
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: $content-padding;
        color: $dark-text-colour;
      }
    }
  }
}