@import "variables";

.testimonials {
  background: $primary-colour;
  color: #fff;
  padding-top: 5px !important;
  padding-bottom: 5px !important;

  @include slider(90%, -30%);

  @media (max-width: $media-small) {
    @include slider(80%, -30%);
  }

  .slider {
    height: 200px;
    width: 90%;
    margin: 0 auto;

    @media (max-width: $media-medium) {
      height: 300px;
    }

    @media (max-width: $media-small) {
      height: 400px;
      width: 100%;
    }

    @media (max-width: $media-xsmall) {
      height: 500px;
    }

    .arrow {
      color: #fff !important;
    }

    .slide {
      padding: $content-padding;

      @media (max-width: $media-small) {
        padding: $content-padding/2;
      }

      .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 25px;

        .by-line {
          font-weight: bold;
          text-align: center;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}