@import "variables";

.testimonials {
  background: $background-colour-dark;
  color: #fff;
  padding: $content-padding;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $media-small) {
    padding: $content-padding/2;
  }

  .content {
    font-size: 25px;
    text-align: center;
    width: 80vw;

    blockquote {
      line-height: 1.5;
    }

    .by-line {
      font-weight: bold;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }

  a {
    font-size: 22px;
  }
}