<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <style>
      @font-face {
        font-family: 'Benedict';
        font-style: normal;
        font-display: swap;
        font-weight: normal;
        src: url({{ settings.EXTERNAL_URL_BASE }}/static/main_site/fonts/Benedict-Regular.otf) format('opentype');
      }
    </style>
</head>
<body style="padding: 0; margin: 0">
<div style="background-image: url({{ settings.EXTERNAL_URL_BASE }}/static/main_site/img/email-bg.jpg);background-position: 50% 50%;background-size: cover;padding: 100px 0;">
    <div style="margin: 0 auto;max-width: 800px;background: rgba(51, 84, 112, 0.7);padding: 25px 50px;">
      <h1 style="margin: 0;font-family: 'Benedict', serif;color: #fff;text-align: center;font-size: 72px;font-weight: normal;">Thank you for getting in touch</h1>
      <p style="font-size: 20px;font-family: 'Libre Baskerville', serif;color: #fff;">Hello {{ first_name }},</p>
      <p style="font-size: 20px;font-family: 'Libre Baskerville', serif;color: #fff;">
        Thank you for taking the time to contact us. We have received your message and will email you shortly to discuss your project.<br/>
        Please check your spam folder just in case!
      </p>
      <div style="text-align: center;">
          <img src="{{ settings.EXTERNAL_URL_BASE }}/static/main_site/img/logo.png" alt="" style="max-width: 150px;display: inline-block;"/>
      </div>
    </div>
</div>
</body>
</html>