{% extends "main_site_emails/base.html" %}
{% block content %}
    <h2 style="font-weight: normal">
        Hi {{ charge.billing_details.name }}
    </h2>
    <h2 style="text-align: center; font-weight: normal;">
        Here's your payment receipt for Louise Misell Interiors
    </h2>
    <h3 style="margin-bottom: 0;">
        Amount paid
    </h3>
    <p style="margin-top: 0;">
        &pound;{{ amount|floatformat:2 }}
    </p>
    <h3 style="margin-bottom: 0;">
        Date paid
    </h3>
    <p style="margin-top: 0;">
        {{ date }}
    </p>
    {% if charge.payment_method_details.type == "card" %}
        <h3 style="margin-bottom: 0;">
            Paid with
        </h3>
        <p style="margin-top: 0;">
            {{ charge.payment_method_details.card.brand|upper }} ending {{ charge.payment_method_details.card.last4 }}
        </p>
    {% endif %}
    <p>
        This will appear on your statement as {{ charge.calculated_statement_descriptor }}.<br/>
        You will receive a VAT invoice later.
    </p>
    <p>
        <a href="{{ charge.receipt_url }}" target="_blank">View this receipt in your browser</a>
    </p>
{% endblock %}