$nav-margin: 20px;
$nav-height: 150px;
$logo-width: 200px;
$content-margin: 20px;
$content-padding: 25px;
$title-padding: $content-padding*4;
$primary-colour: #2D76C4;
$nav-link-bar-size: 2px;
$fast-transition: 0.2s;
$medium-transition: 0.5s;
$header-font-size: 45px;
$card-border: 20px;
$column-gutter: 1%;