<div style="background: #335470;padding: 50px 15px;font-family: sans-serif;">
    <div style="max-width: 600px;margin: 0 auto;color: #335470;background: #fff;">
        <div style="background: #e5f0f2;padding: 10px;">
            <img src="https://louisemisellinteriors.co.uk/static/main_site/img/logo.png" alt=""
                 style="max-width: 300px;margin: 0 auto;display: block;"/>
        </div>
        <div style="padding: 15px;">
            <h1 style="background: #335470;margin: 0;padding: 20px 5px;text-align: center;color: #e5f0f2;">
                Your booking is confirmed
            </h1>
            <h2>
                Hi {{ first_name }}
            </h2>
            <p>
                Thank you for booking a {{ booking_type.name|lower }} with me, here are the details for your diary;
            </p>
            <h3 style="margin-bottom: 0;">
                Booking time
            </h3>
            <p style="margin-top: 0;">
                {{ time }}
            </p>
            <h3 style="margin-bottom: 0;">
                Your email
            </h3>
            <p style="margin-top: 0;">
                {{ email }}
            </p>
            <h3 style="margin-bottom: 0;">
                Your phone
            </h3>
            <p style="margin-top: 0;">
                {{ phone }}
            </p>
            {% for question in questions %}
                <h3 style="margin-bottom: 0;">{{ question.question.question }}</h3>
                <p style="margin-top: 0;">{{ question.answer|linebreaks }}</p>
            {% endfor %}
        </div>
    </div>
</div>