{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a booking</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}">
    <link rel="stylesheet" href="{% static "main_site/style/style.css" %}">
    <link rel="stylesheet" href="{% static "bookings/style/style.css" %}">
</head>
<body>
<div id="booking-wrapper"></div>
<script src="{% static "bookings/js/main_production.js" %}"></script>
</body>
</html>